/* NAVIGATION */

header.scrollUp.fixed{
    -webkit-animation: navEnter var(--normal-speed) var(--easy-ease) both;
    -webkit-animation-delay: var(--fast-speed);
    animation-name: navEnter;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
    animation-delay: var(--fast-speed);
}

header.fixed{
    -webkit-animation: navExit 0ms var(--easy-ease) both;
    animation-name: navExit;
    animation-duration: 0ms;
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

header.fixed.scrollDepth{
    -webkit-animation-duration: var(--fast-speed);
    -webkit-animation-delay: var(--fast-speed);
    animation-duration: var(--fast-speed);
    animation-delay: var(--fast-speed);
}


header.fixed button#menu-button span:nth-child(1), header.fixed button#menu-button span:nth-child(4), header button#menu-button span:nth-child(1), header button#menu-button span:nth-child(4) {
    -webkit-animation: fadeIn var(--normal-speed) var(--easy-ease) both;
    animation-name: fadeIn;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

header.fixed button#menu-button.open span:nth-child(1), header.fixed button#menu-button.open span:nth-child(4), header button#menu-button.open span:nth-child(1), header button#menu-button.open span:nth-child(4) {
    -webkit-animation: fadeOut var(--normal-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}


.logo-container a:after{
    border-radius: 100px;
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 2px;
    background-color: transparent;
    -webkit-transition: background-color var(--fast-speed) ease-in-out;
    -moz-transition: background-color var(--fast-speed) ease-in-out;
    -o-transition: background-color var(--fast-speed) ease-in-out;
    transition: background-color var(--fast-speed) ease-in-out;
}

.logo-container a:focus:after{
    background-color: var(--color-light-red);
}


#main-menu{
    -webkit-animation: menuExit 10ms var(--easy-ease) both;
    -webkit-animation-delay: var(--slow-speed);
    animation-name: menuExit;
    animation-duration: 10ms;
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
	animation-delay: var(--slow-speed);
}

#main-menu.view{
    -webkit-animation: menuEnter 10ms var(--easy-ease) both;
    animation-name: menuEnter;
    animation-duration: 10ms;
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

#main-menu ul::before{
    -webkit-animation: fadeOut var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

#main-menu.view ul::before{
    -webkit-animation: fadeIn var(--slow-speed) var(--easy-ease) both;
    animation-name: fadeIn;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

#main-menu li{
    -webkit-animation: fadeOut var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

#main-menu.view li{
    -webkit-animation: fadeInDown var(--slow-speed) var(--easy-ease) both;
    animation-name: fadeInDown;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

#main-menu.view li:nth-of-type(1){
    -webkit-animation-delay: 50ms;
	animation-delay: 50ms;
}

#main-menu.view li:nth-of-type(2){
    -webkit-animation-delay: 100ms;
	animation-delay: 100ms;
}

#main-menu.view li:nth-of-type(3){
    -webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}

#main-menu.view li:nth-of-type(4){
    -webkit-animation-delay: 200ms;
	animation-delay: 200ms;
}

#main-menu.view li:nth-of-type(5){
    -webkit-animation-delay: 250ms;
	animation-delay: 250ms;
}

#main-menu.view li:nth-of-type(6){
    -webkit-animation-delay: 275ms;
	animation-delay: 275ms;
}

#main-menu.view li:nth-of-type(7){
    -webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}

#main-menu.view li:nth-of-type(8){
    -webkit-animation-delay: 325ms;
	animation-delay: 325ms;
}

#main-menu.view li:nth-of-type(9){
    -webkit-animation-delay: 350ms;
	animation-delay: 350ms;
}

#main-menu.view li:nth-of-type(10){
    -webkit-animation-delay: 375ms;
	animation-delay: 375ms;
}

#main-menu.view li:nth-of-type(11){
    -webkit-animation-delay: 400ms;
	animation-delay: 400ms;
}



/* TILE INTERACTIONS */

.tile-trigger, button.trigger{
    -webkit-animation: tileNormal var(--fast-speed) var(--easy-ease) both;
	animation-name: tileNormal;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger .tile:before{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tile-trigger .tile .contents .title, .tile-trigger .tile .contents .description, button.trigger strong{
    -webkit-animation: contentsNormal var(--fast-speed) var(--easy-ease) both;
    animation-name: contentsNormal;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

/*.tile-trigger .tile .contents .title h3, .tile-trigger .tile .contents .title .summary {
    -webkit-animation: fadeIn var(--slow-speed) var(--easy-ease) both;
    animation-name: fadeIn;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}*/

.tile-trigger .tile .description .summary{
    -webkit-animation: fadeOutUp var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeOutUp;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger .tile.image.no-desc .inner::before{
    content:none;
    -webkit-animation: none;
	animation: none;
    -webkit-animation-delay: none;
	animation-delay: none;
}

.tile-trigger .tile:focus{
    outline: 0;
}

/* Add focus animations */

button .inner:before{
    -webkit-transition: box-shadow var(--fast-speed) ease-in-out;
    -moz-transition: box-shadow var(--fast-speed) ease-in-out;
    -o-transition: box-shadow var(--fast-speed) ease-in-out;
    transition: box-shadow var(--fast-speed) ease-in-out;
}

button.tile.gradient-red:focus:before, .tile-trigger.gradient-red .tile:focus:before, .tile-trigger.gradient-red .tile-cta a:focus{
    box-shadow: 0px 0px 0px 5px var(--color-light-red);
}
button.tile.gradient-green:focus:before, .tile-trigger.gradient-green .tile:focus:before, .tile-trigger.gradient-green .tile-cta a:focus{
    box-shadow: 0px 0px 0px 5px var(--color-light-green);
}
button.tile.gradient-blue:focus:before, .tile-trigger.gradient-blue .tile:focus:before, .tile-trigger.gradient-blue .tile-cta a:focus{
    box-shadow: 0px 0px 0px 5px var(--color-light-blue);
}


button.trigger:focus:before{
    box-shadow: 0px 0px 0px 5px var(--color-light-red);
}

.tile-trigger:hover .tile:before, .tile-trigger:hover .tile:focus:before, button.trigger:hover::before {
    box-shadow: var(--hover-shadow-element);
}

.tile-trigger:hover .tile:after, .tile-trigger:hover .tile:focus:after, button.trigger:hover::after{
    box-shadow: var(--hover-shadow);
}


.tile-trigger:hover, button.trigger:hover{
    -webkit-animation: tileHover var(--fast-speed) var(--easy-ease) both;
    animation-name: tileHover;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger:hover .contents .description, button.trigger:hover strong{
    -webkit-animation: contentsHover var(--fast-speed) var(--easy-ease) both;
    animation-name: contentsHover;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger .tile.image .inner::before{
    -webkit-animation: fadeOut var(--normal-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger .tile .inner:after{
    -webkit-animation: tileInactive var(--normal-speed) var(--easy-ease) both;
    animation-name: tileInactive;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}


.tile-trigger.active .tile .inner:after{
    -webkit-animation: tileActive var(--normal-speed) var(--easy-ease) both;
    animation-name: tileActive;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.tile-trigger.active .tile.image .inner::before{
    -webkit-animation: fadeInLow var(--slow-speed) var(--easy-ease) both;
    -webkit-animation-delay: var(--fast-speed);
    animation-name: fadeInLow;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
	animation-delay: var(--fast-speed);
}

.tile-trigger.active .tile.image.no-desc .inner::before{
    -webkit-animation: none;
    -webkit-animation-delay: none;
    animation: none
	animation-delay: none;
}

.tile-trigger.active .tile .title h3, .tile-trigger.active .tile .title .summary {
    -webkit-animation: fadeOut var(--normal-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--normal-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
    
}

.tile-trigger.active .tile .summary{
    -webkit-animation: fadeInDown var(--slow-speed) var(--easy-ease) both;
    -webkit-animation-delay: var(--fast-speed);
    animation-name: fadeInDown;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
	animation-delay: var(--fast-speed);
}

.tile-trigger .tile .description{
    display: none;
}

.tile-trigger.active .tile .description{
    display: flex;
}


/* PROJECT SECTION */
    
section#projects .tile-trigger{
    -webkit-animation: tileNormal var(--fast-speed) var(--easy-ease) both;
    animation-name: tileLgNormal;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

section#projects .tile-trigger:hover{
    -webkit-animation: tileLgHover var(--fast-speed) var(--easy-ease) both;
    animation-name: tileLgHover;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

section#projects .tile-trigger .tile .contents .title, section#projects .tile-trigger .tile .contents .description{
    -webkit-animation: contentsLgNormal var(--fast-speed) var(--easy-ease) both;
    animation-name: contentsLgNormal;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

section#projects .tile-trigger:hover .contents .description{
    -webkit-animation: contentsLgHover var(--fast-speed) var(--easy-ease) both;
    animation-name: contentsLgHover;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

[id^="proj-"] .cta.disabled .subhead::before{
    -webkit-animation: fadeOut var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

[id^="proj-"] .cta.coming-soon .subhead::before{
    display: none;
}

[id^="proj-"] .cta.coming-soon .subhead::after{
    display: block;
    opacity: 1;
    -webkit-animation: fadeInDown var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeInDown;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}



@-webkit-keyframes navEnter {
	from { -webkit-transform: translateY(-10rem); transform: translateY(-10rem); opacity: 0; }
}

@keyframes navEnter {
	from { transform: translateY(-10rem); opacity: 0;}
}

@-webkit-keyframes navExit {
	to { -webkit-transform: translateY(-10rem); transform: translateY(-10rem); opacity: 0; }
}

@keyframes navExit {
	to { transform: translateY(-10rem); opacity: 0;}
}



@-webkit-keyframes menuEnter {
	to { left: 0; }
}

@keyframes menuEnter {
	to { left: 0; }
}

@-webkit-keyframes menuExit {
	to { left: 100vw; }
}

@keyframes menuExit {
	to { left: 100vw; }
}



@-webkit-keyframes contentsHover {
	to { -webkit-transform: scale(0.95); transform:scale(0.95); }
}

@keyframes contentsHover {
	to { transform:scale(0.95); }
}

@-webkit-keyframes contentsNormal {
	from { -webkit-transform: scale(0.95); transform:scale(0.95); }
}

@keyframes contentsNormal {
	from { transform:scale(0.95); }
}



@-webkit-keyframes tileHover {
	to { -webkit-transform: scale(1.05); transform:scale(1.05); }
}

@keyframes tileHover {
	to { transform:scale(1.05);  }
}

@-webkit-keyframes tileLgHover {
	to { -webkit-transform: scale(1.02); transform:scale(1.02); }
}

@keyframes tileLgHover {
	to { transform:scale(1.02);  }
}

@-webkit-keyframes tileNormal {
	from { -webkit-transform: scale(1.05); transform:scale(1.05); }
}

@keyframes tileNormal {
	from { transform:scale(1.05); }
}

@-webkit-keyframes tileLgNormal {
	from { -webkit-transform: scale(1.02); transform:scale(1.02); }
}

@keyframes tileLgNormal {
	from { transform:scale(1.02); }
}

@-webkit-keyframes contentsLgHover {
	to { -webkit-transform: scale(0.98); transform:scale(0.98); }
}

@keyframes contentsLgHover {
	to { transform:scale(0.98); }
}

@-webkit-keyframes contentsLgNormal {
	from { -webkit-transform: scale(0.98); transform:scale(0.98); }
}

@keyframes contentsLgNormal {
	from { transform:scale(0.98); }
}


@-webkit-keyframes tileActive {
	to { opacity: 0.9; width: 100%; height: 100%; border-radius: var(--border-radius-std); }
}

@keyframes tileActive {
	to { opacity: 0.9; width: 100%; height: 100%; border-radius: var(--border-radius-std);}
}

@-webkit-keyframes tileInactive {
	from { opacity: 0.9; width: 100%; height: 100%; border-radius: var(--border-radius-std); }
}

@keyframes tileInactive {
	from { opacity: 0.9; }
}

/* -- Safari Bug preventing tile highlight element from switching orientations at different screen widths --

@-webkit-keyframes tileInactive {
	from { opacity: 0.9; width: 100%; height: 100%; border-radius: var(--border-radius-std); }
}

@keyframes tileInactive {
	from { opacity: 0.9; width: 100%; height: 100%; border-radius: var(--border-radius-std);}
}

*/

/* Accordion Animations */

.accordion > .contents {
    max-height: 1350px;
    -webkit-transition: max-height var(--normal-speed) ease-in-out;
    -moz-transition: max-height var(--normal-speed) ease-in-out;
    -o-transition: max-height var(--normal-speed) ease-in-out;
    transition: max-height var(--normal-speed) ease-in-out;
}

.accordion.close > .contents {
    overflow: hidden;
    max-height: 0;
}

.accordion > .contents > div {
    visibility: visible;
    -webkit-animation: fadeInDown var(--slow-speed) var(--easy-ease) both;
    -webkit-animation-delay: var(--fast-speed);
    animation-name: fadeInDown;
    animation-duration: var(--slow-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
	animation-delay: var(--fast-speed);
}

.accordion.close > .contents > div {
    -webkit-animation: fadeOut var(--fast-speed) var(--easy-ease) both;
    animation-name: fadeOut;
    animation-duration: var(--fast-speed);
    animation-timing-function: var(--ease-ease);
    animation-fill-mode: both;
}

.accordion span.expanded{
    display: inline;
}

.accordion span.collapsed{
    display: none;
}

.accordion.close span.expanded{
    display: none;
}

.accordion.close span.collapsed{
    display: inline;
}




/* Default Animations */


@-webkit-keyframes fadeOut{
	to { opacity: 0; visibility: hidden; }
}

@keyframes fadeOut {
	to { opacity: 0; visibility: hidden; }
}

@-webkit-keyframes fadeIn{
	from { opacity: 0; visibility: hidden; }
}

@keyframes fadeIn {
	from { opacity: 0; visibility: hidden; }
}

@-webkit-keyframes fadeInLow{
	from { opacity: 0; visibility: hidden; }
}

@keyframes fadeInLow {
	from { opacity: 0; visibility: hidden; }
}


@-webkit-keyframes fadeInDown {
	from { opacity: 0; -webkit-transform: translateY(-1rem); transform: translateY(-1rem); visibility: visible; }
}

@keyframes fadeInDown {
	from { opacity: 0; transform: translateY(-1rem); visibility: visible; }
}

@-webkit-keyframes fadeOutUp {
	to { opacity: 0; -webkit-transform: translateY(-1rem); transform: translateY(-1rem); visibility: hidden; }
}
 
@keyframes fadeOutUp {
	to { opacity: 0; transform: translateY(-1rem); visibility: hidden; }
}


/*



.tile-trigger .tile .contents{
    -webkit-animation: contentsNormal var(--normal-speed) var(--easy-ease) both;
	animation: contentsNormal var(--normal-speed) var(--easy-ease) both;
}


@-webkit-keyframes contentsHover {
	to { -webkit-transform: scale(0.97) translateY(-1px); transform:scale(0.97) translateY(-1px); }
}

@keyframes contentsHover {
	to { transform:scale(0.97) translateY(-1px); }
}

@-webkit-keyframes contentsNormal {
	from { -webkit-transform: scale(0.97) translateY(-1px); transform:scale(0.97) translateY(-1px); }
}

@keyframes contentsNormal {
	from { transform:scale(0.97) translateY(-1px); }
}

*/


/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    header button#menu-button span:nth-child(1), header button#menu-button span:nth-child(4) {
        -webkit-animation: none;
        animation: none;
    }

    header button#menu-button.open span:nth-child(1), header button#menu-button.open span:nth-child(4) {
        -webkit-animation: none;
        animation: none;
    }

}



/* TABLET */

@media screen and (min-width: 55rem ) {
    
    header.fixed{
        -webkit-animation-duration: var(--fast-speed);
        animation-duration: var(--fast-speed);
    }
    
    .tile-trigger.gradient-red .tile-cta a:focus, .tile-trigger.gradient-green .tile-cta a:focus, .tile-trigger.gradient-blue .tile-cta a:focus{
        box-shadow: none;
    }
    
    /*section#projects .tile-trigger.active .tile .title h3,  section#projects  .tile-trigger.active .tile .title .summary{
        display:none;
    }*/
    
    section#projects .tile-trigger div.tile-cta, section#projects .tile-trigger .prehead, section#projects .tile-trigger .project-details{
        -webkit-animation: fadeIn var(--normal-speed) var(--easy-ease) both;
        animation-name: fadeIn;
        animation-duration: var(--normal-speed);
        animation-timing-function: var(--ease-ease);
        animation-fill-mode: both;
    }
    
    section#projects .tile-trigger.active div.tile-cta, section#projects .tile-trigger.active .prehead, section#projects .tile-trigger.active .project-details{
        -webkit-animation: fadeOut var(--normal-speed) var(--easy-ease) both;
        animation-name: fadeOut;
        animation-duration: var(--normal-speed);
        animation-timing-function: var(--ease-ease);
        animation-fill-mode: both;
    }
    
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {

    

    
}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {
    
    /* TILE INTERACTIONS */
    

    
}

