*, *:after, *:before { -webkit-project-teaser-sizing: border-project-teaser; project-teaser-sizing: border-project-teaser; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.header {
	position: fixed;
	top: 0;
	z-index: 150;
	min-height: 300px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.header h1 {
	margin: 0;
    text-align: center;
    width: 100%
}

.logo,
.loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.logo {
	top: 0;
	height: 100%;
    width: auto;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.loaded .logo, html.no-js .logo{
    left: 0;
}

.loader {
	bottom: 25%;
}

.header .inner {
	display: block;
	margin: 0 auto;
}

.header .logo svg {
	position: relative;
	height: 25%;
    overflow: visible;
}

.header .logo svg path.logo-stroke{
	fill: #221F1F;
}

.header .logo svg .loadbar{
	fill: #89da90;
}

.header .logo svg .logo-pop{
	fill: #89da90;
}

.header .logo svg .logo-heading{
	fill: #221F1F;
}

.header .logo svg .logo-subhead{
	fill: #89da90;
}

.header .loader svg path {
	fill: none;
	stroke-width: 6;
}

.header .loader svg path.loader-circlebg {
	stroke: #ddd;
}

.header .loader svg path.loader-circle {
	-webkit-transition: stroke-dashoffset 0.1s;
	transition: stroke-dashoffset 0.1s;
	stroke: #89da90;
}

/* Content */
.intro {
	margin: 0 auto;
	padding: 160px 0 10em 0;
    position: relative;
    height: 100vh;
	width: 100vw;
    z-index: 100;
    background-color: #fff;
}

.intro h2 {
	margin: 0;
	padding: 0.5em 0 1em;
	color: #1c9ccd;
	text-align: center;
	font-size: 4.25em;
	font-size: 4vw;
	line-height: 1;
}

.intro-container {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	max-width: 1000px;
	width: 100%;
	border-radius: 8px;
	background: #f1f1f1;
	background-size: 100%;
	color: #d3d3d3;
}

.project-teaser {
	float: left;
	padding: 3.5em;
	width: 33.3%;
	font-size: 0.7em;
	line-height: 1.5;
}

/* Animations */

/* Initial animation of header elements */
.loading .logo,
.loading .loader {
	opacity: 1;
}

.loading .logo {
	-webkit-animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLogo {
	from { opacity: 0; }
}

@keyframes animInitialLogo {
	from { opacity: 0; }
}

.loading .loader {
	-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}


/* Header elements when loading finishes */
.loaded .logo, .no-js .logo,
.loaded .loader {
	opacity: 1;
}


.loaded .logo, html.no-js .logo {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); }
}

.loaded .loader, html.no-js .loader {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}



/* Change the color of the logo */

.loaded .logo svg .ease{
    -webkit-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
}

.loaded .logo svg path.logo-stroke{
	fill: #221F1F;
}

.loaded .logo svg .logo-pop{
	fill: #89da90;
}

.loaded .logo svg .loadbar{
	fill: #89da90;
}


.loaded .logo svg .logo-heading, .no-js .logo svg .logo-heading{
	-webkit-animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

.loaded .logo svg .logo-subhead, .no-js .logo svg .logo-subhead{
	-webkit-animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}


/* Header animation when loading finishes */
.loaded .header, html.no-js .header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

Content animations 
.loaded .intro h2,
.loaded .intro .intro-container,
.loaded .intro .intro-container .project-teaser,
.loaded .codrops-demos,
html.no-js .intro h2,
html.no-js .intro .intro-container,
html.no-js .intro .intro-container .project-teaser,
html.no-js .codrops-demos{
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .intro h2,
.loaded .intro .intro-container .project-teaser,
html.no-js .intro h2,
html.no-js .intro .intro-container .project-teaser {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Intro animation */

.container.hide {
    -webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
	-webkit-animation: animTopOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animTopOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

.container.view {
    -webkit-animation-delay: 0.25s !important;
	animation-delay: 0.25s !important;
	-webkit-animation: animTopIn 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animTopIn 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

/* Main Content Animation */

/* 
#main svg#logo, #main #menu-button, #main .menu-block-left, #main .menu-block-right, #main #project-track, #main .project-title, #main .cover, #main .project-button{
	-webkit-animation: animContentFade 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animContentFade 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

#main.view svg#logo, #main.view #menu-button, #main.view .menu-block-left, #main.view .menu-block-right, #main.view #project-track, #main.view .project-title, #main.view .cover, #main.view .project-button{
-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
	-webkit-animation: animContentFill 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animContentFill 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}*/

body.hide{
    -webkit-animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animFadeOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

body{
    -webkit-animation-delay: 0.25s !important;
	animation-delay: 0.25s !important;
    -webkit-animation: animFadeIn 1s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animFadeIn 1s cubic-bezier(0.25,0.1,0.25,1) both;
}
    
/* Project mobile animations */

.project-slide-in-left{
    -webkit-animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

.project-slide-in-right{
    -webkit-animation: animRightIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animRightIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

.project-slide-out-left{
    -webkit-animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

.project-slide-out-right{
    -webkit-animation: animRightOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animRightOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

@media screen and (min-width:55em) {
    
    .project-slide-in-left{
        -webkit-animation: none;
        animation: none;
    }

    .project-slide-in-right{
        -webkit-animation: none;
        animation: none;
    }

    .project-slide-out-left{
        -webkit-animation: none;
        animation: none;
    }

    .project-slide-out-right{
        -webkit-animation: none;
        animation: none;
    }
}

/* Menu animation */

#main-menu.view{
    -webkit-animation: animLeftIn 0.1s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftIn 0.1s cubic-bezier(0.25,0.1,0.25,1) both;
}

#main-menu.hide{
    -webkit-animation-delay: 0.3s !important;
	animation-delay: 0.5s !important;
    -webkit-animation: animLeftOut 0.1s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftOut 0.1s cubic-bezier(0.25,0.1,0.25,1) both;
}

#main-menu.view .project-menu-select{
	-webkit-animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

#main-menu.hide .project-menu-select{
	-webkit-animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
}

/* Stagger in delays for menu items */

#main-menu.view .project-menu-select:nth-of-type(2){
    -webkit-animation-delay: 0.02s;
	animation-delay: 0.02s;
}
#main-menu.view .project-menu-select:nth-of-type(3){
    -webkit-animation-delay: 0.04s;
	animation-delay: 0.04s;
}
#main-menu.view .project-menu-select:nth-of-type(4){
    -webkit-animation-delay: 0.06s;
	animation-delay: 0.06s;
}
#main-menu.view .project-menu-select:nth-of-type(5){
    -webkit-animation-delay: 0.08s;
	animation-delay: 0.08s;
}
#main-menu.view .project-menu-select:nth-of-type(6){
    -webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

/* Stagger out delays for menu items */

#main-menu.hide .project-menu-select:nth-of-type(2){
    -webkit-animation-delay: 0.02s;
	animation-delay: 0.02s;
}
#main-menu.hide .project-menu-select:nth-of-type(3){
    -webkit-animation-delay: 0.04s;
	animation-delay: 0.04s;
}
#main-menu.hide .project-menu-select:nth-of-type(4){
    -webkit-animation-delay: 0.06s;
	animation-delay: 0.06s;
}
#main-menu.hide .project-menu-select:nth-of-type(5){
    -webkit-animation-delay: 0.08s;
	animation-delay: 0.08s;
}
#main-menu.hide .project-menu-select:nth-of-type(6){
    -webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}


/* Mobile Footer Animation */

@media screen and (max-width:55em) {
    
    #footer.view {
        -webkit-animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        -webkit-animation-delay: 0.12s;
        animation-delay: 0.12s;
    }

    #footer.hide{
        -webkit-animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        -webkit-animation-delay: 0.12s;
        animation-delay: 0.12s;
    }

}

@media screen and (min-width:55em) {

    .cover.view{
        -webkit-animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animLeftIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }

    .cover.hide{
        -webkit-animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animLeftOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }

    .project-content.hide{
        -webkit-animation: animRightOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animRightOut 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }

    .project-content.view{
        -webkit-animation: animRightIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animRightIn 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }
    
    .project-button{
        -webkit-animation: animButton 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animButton 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }
    
    .project-button.active{
        -webkit-animation: animButtonActive 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
        animation: animButtonActive 0.4s cubic-bezier(0.25,0.1,0.25,1) both;
    }
    
    @-webkit-keyframes animButton {
        to { -webkit-transform: translate3d(12rem,0,0); }
    }
    @-webkit-keyframes animButton {
        to { -webkit-transform: translate3d(12rem,0,0); }
    }
    @-webkit-keyframes animButtonActive {
        from { -webkit-transform: translate3d(12rem,0,0); }
    }
    @-webkit-keyframes animButtonActive {
        from { -webkit-transform: translate3d(12rem,0,0); }
    }
}

/* DEFAULT KEYFRAMES */

/* Left Slide Animation */

@-webkit-keyframes animLeftOut {
    to { -webkit-transform: translate3d(-100%,0,0); }
}

@keyframes animLeftOut {
    to { -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); }
}

@-webkit-keyframes animLeftIn {
    from { -webkit-transform: translate3d(-100%,0,0); }
}

@keyframes animLeftIn {
    from { -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); }
}

/* Right Slide Animation */ 

@-webkit-keyframes animRightIn {
    from { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes animRightIn {
    from { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
}

@-webkit-keyframes animRightOut {
    to { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes animRightOut {
    to { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
}

/* Top Slide Animation */ 

@-webkit-keyframes animTopIn {
	from { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animTopIn {
	from { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

@-webkit-keyframes animTopOut {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animTopOut {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Opacity Animation */ 

@-webkit-keyframes animFadeIn {
	from { opacity: 0; }
}

@keyframes animFadeOut {
	to { opacity: 0; }
}

/* Content Fill */ 

@-webkit-keyframes animContentFill {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animContentFill {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

@-webkit-keyframes animContentFade {
	to { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animContentFade {
	to { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Change layout class for header */
.loading-complete .header {
	position: absolute;
}

/* Media queries */

@media screen and (max-width: 45em) {

	.intro h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.project-teaser {
		width: 100%%;
	}

}