*, *:after, *:before { -webkit-project-teaser-sizing: border-project-teaser; project-teaser-sizing: border-project-teaser; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 300px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.header h1 {
	margin: 0;
    text-align: center;
    width: 100%
}

.logo,
.loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.logo {
	top: 0;
	height: 100%;
    width: auto;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.loaded .logo{
    left: 0;
}

.loader {
	bottom: 25%;
}

.header .inner {
	display: block;
	margin: 0 auto;
}

.header .logo svg {
	position: relative;
	height: 25%;
    overflow: visible;
}

.header .logo svg path.logo-stroke{
	fill: #221F1F;
}

.header .logo svg .loadbar{
	fill: #89da90;
}

.header .logo svg .logo-pop{
	fill: #89da90;
}

.header .logo svg .logo-heading{
	fill: #221F1F;
}

.header .logo svg .logo-subhead{
	fill: #89da90;
}

.header .loader svg path {
	fill: none;
	stroke-width: 6;
}

.header .loader svg path.loader-circlebg {
	stroke: #ddd;
}

.header .loader svg path.loader-circle {
	-webkit-transition: stroke-dashoffset 0.1s;
	transition: stroke-dashoffset 0.1s;
	stroke: #89da90;
}

/* Content */
.intro {
	margin: 0 auto;
	padding: 160px 0 10em 0;
    height: 100vh;
	width: 100vw;
    z-index: 1000;
    background-color: #fff;
}

.intro h2 {
	margin: 0;
	padding: 0.5em 0 1em;
	color: #1c9ccd;
	text-align: center;
	font-size: 4.25em;
	font-size: 4vw;
	line-height: 1;
}

.intro-container {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	max-width: 1000px;
	width: 100%;
	border-radius: 8px;
	background: #f1f1f1;
	background-size: 100%;
	color: #d3d3d3;
}

.project-teaser {
	float: left;
	padding: 3.5em;
	width: 33.3%;
	font-size: 0.7em;
	line-height: 1.5;
}

/* Animations */

/* Initial animation of header elements */
.loading .logo,
.loading .loader {
	opacity: 1;
}

.loading .logo {
	-webkit-animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLogo {
	from { opacity: 0; }
}

@keyframes animInitialLogo {
	from { opacity: 0; }
}

.loading .loader {
	-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}


/* Header elements when loading finishes */
.loaded .logo,
.loaded .loader {
	opacity: 1;
}


.loaded .logo {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.4,0.4,1); }
}

.loaded .loader {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}



/* Change the color of the logo */

.loaded .logo svg .ease{
    -webkit-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
}

.loaded .logo svg path.logo-stroke{
	fill: #221F1F;
}

.loaded .logo svg .logo-pop{
	fill: #89da90;
}

.loaded .logo svg .loadbar{
	fill: #89da90;
}


.loaded .logo svg .logo-heading{
	fill: rgba(255, 255, 255, 0);
}

.loaded .logo svg .logo-subhead{
	fill: rgba(255, 255, 255, 0);
}


/* Header animation when loading finishes */
.loaded .header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

Content animations 
.loaded .intro h2,
.loaded .intro .intro-container,
.loaded .intro .intro-container .project-teaser,
.loaded .codrops-demos {
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .intro h2,
.loaded .intro .intro-container .project-teaser {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Intro animation */

.container.hide {
    position: absolute;
    -webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
	-webkit-animation: animContainerOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animContainerOut 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

@-webkit-keyframes animContainerOut {
	to { -webkit-transform: translate3d(-100%,0,0); }
}

@keyframes animContainerOut {
	to { -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); }
}

.container.view {
    position: absolute;
    left: -100%;
	-webkit-animation: animContainerIn 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
	animation: animContainerIn 0.5s cubic-bezier(0.25,0.1,0.25,1) both;
}

@-webkit-keyframes animContainerIn {
	to { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes animContainerIn {
	to { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
}

/* Change layout class for header */
.loading-complete .header {
	position: absolute;
}

/* No JS */
.no-js .header {
	position: relative;
	min-height: 0px;
}

.no-js .header .logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .header .logo svg path {
	fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

	.intro h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.project-teaser {
		width: 100%%;
	}

}