/* FLEXBOX FALLBACK */

html.no-cssgrid [class^="grid-wrapper"]{
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    flex-wrap:wrap;
    margin-left:-1rem;
}

html.no-cssgrid [class^="grid-item"], html.no-cssgrid [class*=" grid-item"] {
    display:flex;
    flex-direction:column;
    margin-bottom:1rem;
    margin-left:1rem;
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-24, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-23, html.no-cssgrid .grid-wrapper .grid-item-xs-12{
    flex-basis:calc(100% - 1rem);
    max-width:calc(100% - 1rem);
    width:calc(100% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-22, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-21, html.no-cssgrid .grid-wrapper .grid-item-xs-11{
    flex-basis:calc(91.66% - 1rem);
    max-width:calc(91.66% - 1rem);
    width:calc(91.66% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-20, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-19, html.no-cssgrid .grid-wrapper .grid-item-xs-10{
    flex-basis:calc(83.33% - 1rem);
    max-width:calc(83.33% - 1rem);
    width:calc(83.33% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-18, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-17, html.no-cssgrid .grid-wrapper .grid-item-xs-9{
    flex-basis:calc(75% - 1rem);
    max-width:calc(75% - 1rem);
    width:calc(75% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-16, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-15, html.no-cssgrid .grid-wrapper .grid-item-xs-8{
    flex-basis:calc(66.66% - 1rem);
    max-width:calc(66.66% - 1rem);
    width:calc(66.66% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-14, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-13, html.no-cssgrid .grid-wrapper .grid-item-xs-7{
    flex-basis:calc(58.33% - 1rem);
    max-width:calc(58.33% - 1rem);
    width:calc(58.33% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-12, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-11, html.no-cssgrid .grid-wrapper .grid-item-xs-6{
    flex-basis:calc(50% - 1rem);
    max-width:calc(50% - 1rem);
    width:calc(50% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-10, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-9, html.no-cssgrid .grid-wrapper .grid-item-xs-5{
    flex-basis:calc(41.66% - 1rem);
    max-width:calc(41.66% - 1rem);
    width:calc(41.66% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-8, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-7, html.no-cssgrid .grid-wrapper .grid-item-xs-4{
    flex-basis:calc(33.33% - 1rem);
    max-width:calc(33.33% - 1rem);
    width:calc(33.33% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-6, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-5, html.no-cssgrid .grid-wrapper .grid-item-xs-3{
    flex-basis:calc(25% - 1rem);
    max-width:calc(25% - 1rem);
    width:calc(25% - 1rem);
}


html.no-cssgrid .grid-wrapper-lg .grid-item-xs-4, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-3, html.no-cssgrid .grid-wrapper .grid-item-xs-2{
    flex-basis:calc(16.66% - 1rem);
    max-width:calc(16.66% - 1rem);
    width:calc(16.66% - 1rem);
}

html.no-cssgrid .grid-wrapper-lg .grid-item-xs-2, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-1, html.no-cssgrid .grid-wrapper .grid-item-xs-1{
    flex-basis:calc(8.33% - 1rem);
    max-width:calc(8.33% - 1rem);
    width:calc(8.33% - 1rem);
}

[class^="grid-wrapper"], [class^="grid-item"]{
    position: relative;
}

html.cssgrid .grid-wrapper .grid-item-xs-12{
    grid-column-end: span 12;
}
html.cssgrid .grid-wrapper .grid-item-xs-11{
    grid-column-end: span 11;
}
html.cssgrid .grid-wrapper .grid-item-xs-10{
    grid-column-end: span 10;
}
html.cssgrid .grid-wrapper .grid-item-xs-9{
    grid-column-end: span 9;
}
html.cssgrid .grid-wrapper .grid-item-xs-8{
    grid-column-end: span 8;
}
html.cssgrid .grid-wrapper .grid-item-xs-7{
    grid-column-end: span 7;
}
html.cssgrid .grid-wrapper .grid-item-xs-6{
    grid-column-end: span 6;
}
html.cssgrid .grid-wrapper .grid-item-xs-5{
    grid-column-end: span 5;
}
html.cssgrid .grid-wrapper .grid-item-xs-4{
    grid-column-end: span 4;
}
html.cssgrid .grid-wrapper .grid-item-xs-3{
    grid-column-end: span 3;
}
html.cssgrid .grid-wrapper .grid-item-xs-2{
    grid-column-end: span 2;
}
html.cssgrid .grid-wrapper .grid-item-xs-1{
    grid-column-end: span 1;
}










/* ------ GRID STRUCTURE ------ */


html.cssgrid .grid-wrapper-lg, html.cssgrid .grid-wrapper{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100%;
}

/* MOBILE GRID STRUCTURE */

html.cssgrid .grid-wrapper-lg .grid-item-xs-24{
    grid-column-end: span 12;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-23{
    grid-column-end: span 12;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-22{
    grid-column-end: span 11;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-21{
    grid-column-end: span 11;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-20{
    grid-column-end: span 10;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-19{
    grid-column-end: span 10;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-18{
    grid-column-end: span 9;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-17{
    grid-column-end: span 9;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-16{
    grid-column-end: span 8;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-15{
    grid-column-end: span 8;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-14{
    grid-column-end: span 7;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-13{
    grid-column-end: span 7;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-12{
    grid-column-end: span 6;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-11{
    grid-column-end: span 6;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-10{
    grid-column-end: span 5;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-9{
    grid-column-end: span 5;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-8{
    grid-column-end: span 4;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-7{
    grid-column-end: span 4;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-6{
    grid-column-end: span 3;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-5{
    grid-column-end: span 3;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-4{
    grid-column-end: span 2;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-3{
    grid-column-end: span 2;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-2{
    grid-column-end: span 1;
}
html.cssgrid .grid-wrapper-lg .grid-item-xs-1{
    grid-column-end: span 1;
}





@media screen and (min-width: 35rem ) {
    
    /* MOBILE PLUS FLEXBOX ADJUSTMENTS */
    
    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-24, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-23{
        flex-basis:calc(100% - 1rem);
        max-width:calc(100% - 1rem);
        width:calc(100% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-22, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-21{
        flex-basis:calc(91.66% - 1rem);
        max-width:calc(91.66% - 1rem);
        width:calc(91.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-20, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-19{
        flex-basis:calc(83.33% - 1rem);
        max-width:calc(83.33% - 1rem);
        width:calc(83.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-18, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-17{
        flex-basis:calc(75% - 1rem);
        max-width:calc(75% - 1rem);
        width:calc(75% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-16, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-15{
        flex-basis:calc(66.66% - 1rem);
        max-width:calc(66.66% - 1rem);
        width:calc(66.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-14, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-13{
        flex-basis:calc(58.33% - 1rem);
        max-width:calc(58.33% - 1rem);
        width:calc(58.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-12, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-11{
        flex-basis:calc(50% - 1rem);
        max-width:calc(50% - 1rem);
        width:calc(50% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-10, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-9{
        flex-basis:calc(41.66% - 1rem);
        max-width:calc(41.66% - 1rem);
        width:calc(41.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-8, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-7{
        flex-basis:calc(33.33% - 1rem);
        max-width:calc(33.33% - 1rem);
        width:calc(33.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-6, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-5{
        flex-basis:calc(25% - 1rem);
        max-width:calc(25% - 1rem);
        width:calc(25% - 1rem);
    }


    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-4, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-3{
        flex-basis:calc(16.66% - 1rem);
        max-width:calc(16.66% - 1rem);
        width:calc(16.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xs-2, html.no-cssgrid .grid-wrapper-lg .grid-item-xs-1{
        flex-basis:calc(8.33% - 1rem);
        max-width:calc(8.33% - 1rem);
        width:calc(8.33% - 1rem);
    }
    
    /* MOBILE FLEXBOX FALLBACK */

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-24, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-23, html.no-cssgrid .grid-wrapper .grid-item-sm-12{
        flex-basis:calc(100% - 1rem);
        max-width:calc(100% - 1rem);
        width:calc(100% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-22, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-21, html.no-cssgrid .grid-wrapper .grid-item-sm-11{
        flex-basis:calc(91.66% - 1rem);
        max-width:calc(91.66% - 1rem);
        width:calc(91.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-20, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-19, html.no-cssgrid .grid-wrapper .grid-item-sm-10{
        flex-basis:calc(83.33% - 1rem);
        max-width:calc(83.33% - 1rem);
        width:calc(83.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-18, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-17, html.no-cssgrid .grid-wrapper .grid-item-sm-9{
        flex-basis:calc(75% - 1rem);
        max-width:calc(75% - 1rem);
        width:calc(75% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-16, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-15, html.no-cssgrid .grid-wrapper .grid-item-sm-8{
        flex-basis:calc(66.66% - 1rem);
        max-width:calc(66.66% - 1rem);
        width:calc(66.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-14, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-13, html.no-cssgrid .grid-wrapper .grid-item-sm-7{
        flex-basis:calc(58.33% - 1rem);
        max-width:calc(58.33% - 1rem);
        width:calc(58.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-12, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-11, html.no-cssgrid .grid-wrapper .grid-item-sm-6{
        flex-basis:calc(50% - 1rem);
        max-width:calc(50% - 1rem);
        width:calc(50% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-10, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-9, html.no-cssgrid .grid-wrapper .grid-item-sm-5{
        flex-basis:calc(41.66% - 1rem);
        max-width:calc(41.66% - 1rem);
        width:calc(41.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-8, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-7, html.no-cssgrid .grid-wrapper .grid-item-sm-4{
        flex-basis:calc(33.33% - 1rem);
        max-width:calc(33.33% - 1rem);
        width:calc(33.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-6, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-5, html.no-cssgrid .grid-wrapper .grid-item-sm-3{
        flex-basis:calc(25% - 1rem);
        max-width:calc(25% - 1rem);
        width:calc(25% - 1rem);
    }


    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-4, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-3, html.no-cssgrid .grid-wrapper .grid-item-sm-2{
        flex-basis:calc(16.66% - 1rem);
        max-width:calc(16.66% - 1rem);
        width:calc(16.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-sm-2, html.no-cssgrid .grid-wrapper-lg .grid-item-sm-1, html.no-cssgrid .grid-wrapper .grid-item-sm-1{
        flex-basis:calc(8.33% - 1rem);
        max-width:calc(8.33% - 1rem);
        width:calc(8.33% - 1rem);
    }
    
    
    
    html.cssgrid .grid-wrapper-lg{
        grid-template-columns: repeat(24,1fr);
    }
    
    /* MOBILE GRID ADJUSTMENTS */
    
    html.cssgrid .grid-wrapper-lg .grid-item-xs-24{
        grid-column-end: span 24;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-23{
        grid-column-end: span 23;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-22{
        grid-column-end: span 22;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-21{
        grid-column-end: span 21;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-20{
        grid-column-end: span 20;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-19{
        grid-column-end: span 19;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-18{
        grid-column-end: span 18;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-17{
        grid-column-end: span 17;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-16{
        grid-column-end: span 16;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-15{
        grid-column-end: span 15;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-14{
        grid-column-end: span 14;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-13{
        grid-column-end: span 13;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-12{
        grid-column-end: span 12;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-11{
        grid-column-end: span 11;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-10{
        grid-column-end: span 10;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-9{
        grid-column-end: span 9;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-8{
        grid-column-end: span 8;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-7{
        grid-column-end: span 7;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-6{
        grid-column-end: span 6;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-5{
        grid-column-end: span 5;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-4{
        grid-column-end: span 4;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-3{
        grid-column-end: span 3;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-2{
        grid-column-end: span 2;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xs-1{
        grid-column-end: span 1;
    }
    
    
    /* MOBILE PLUS GRID STRUCTURE */

    html.cssgrid .grid-wrapper-lg .grid-item-sm-24{
        grid-column-end: span 24;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-23{
        grid-column-end: span 23;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-22{
        grid-column-end: span 22;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-21{
        grid-column-end: span 21;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-20{
        grid-column-end: span 20;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-19{
        grid-column-end: span 19;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-18{
        grid-column-end: span 18;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-17{
        grid-column-end: span 17;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-16{
        grid-column-end: span 16;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-15{
        grid-column-end: span 15;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-14{
        grid-column-end: span 14;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-13{
        grid-column-end: span 13;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-12, html.cssgrid .grid-wrapper .grid-item-sm-12{
        grid-column-end: span 12;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-11, html.cssgrid .grid-wrapper .grid-item-sm-11{
        grid-column-end: span 11;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-10, html.cssgrid .grid-wrapper .grid-item-sm-10{
        grid-column-end: span 10;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-9, html.cssgrid .grid-wrapper .grid-item-sm-9{
        grid-column-end: span 9;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-8, html.cssgrid .grid-wrapper .grid-item-sm-8{
        grid-column-end: span 8;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-7, html.cssgrid .grid-wrapper .grid-item-sm-7{
        grid-column-end: span 7;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-6, html.cssgrid .grid-wrapper .grid-item-sm-6{
        grid-column-end: span 6;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-5, html.cssgrid .grid-wrapper .grid-item-sm-5{
        grid-column-end: span 5;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-4, html.cssgrid .grid-wrapper .grid-item-sm-4{
        grid-column-end: span 4;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-3, html.cssgrid .grid-wrapper .grid-item-sm-3{
        grid-column-end: span 3;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-2, html.cssgrid .grid-wrapper .grid-item-sm-2{
        grid-column-end: span 2;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-sm-1, html.cssgrid .grid-wrapper .grid-item-sm-1{
        grid-column-end: span 1;
    }
    
}


@media screen and (min-width: 55rem ) {
    
    /* TABLET FLEXBOX FALLBACK */
    
    html.no-cssgrid .grid-wrapper-lg .grid-item-md-24, html.no-cssgrid .grid-wrapper-lg .grid-item-md-23, html.no-cssgrid .grid-wrapper .grid-item-md-12{
        flex-basis:calc(100% - 1rem);
        max-width:calc(100% - 1rem);
        width:calc(100% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-22, html.no-cssgrid .grid-wrapper-lg .grid-item-md-21, html.no-cssgrid .grid-wrapper .grid-item-md-11{
        flex-basis:calc(91.66% - 1rem);
        max-width:calc(91.66% - 1rem);
        width:calc(91.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-20, html.no-cssgrid .grid-wrapper-lg .grid-item-md-19, html.no-cssgrid .grid-wrapper .grid-item-md-10{
        flex-basis:calc(83.33% - 1rem);
        max-width:calc(83.33% - 1rem);
        width:calc(83.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-18, html.no-cssgrid .grid-wrapper-lg .grid-item-md-17, html.no-cssgrid .grid-wrapper .grid-item-md-9{
        flex-basis:calc(75% - 1rem);
        max-width:calc(75% - 1rem);
        width:calc(75% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-16, html.no-cssgrid .grid-wrapper-lg .grid-item-md-15, html.no-cssgrid .grid-wrapper .grid-item-md-8{
        flex-basis:calc(66.66% - 1rem);
        max-width:calc(66.66% - 1rem);
        width:calc(66.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-14, html.no-cssgrid .grid-wrapper-lg .grid-item-md-13, html.no-cssgrid .grid-wrapper .grid-item-md-7{
        flex-basis:calc(58.33% - 1rem);
        max-width:calc(58.33% - 1rem);
        width:calc(58.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-12, html.no-cssgrid .grid-wrapper-lg .grid-item-md-11, html.no-cssgrid .grid-wrapper .grid-item-md-6{
        flex-basis:calc(50% - 1rem);
        max-width:calc(50% - 1rem);
        width:calc(50% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-10, html.no-cssgrid .grid-wrapper-lg .grid-item-md-9, html.no-cssgrid .grid-wrapper .grid-item-md-5{
        flex-basis:calc(41.66% - 1rem);
        max-width:calc(41.66% - 1rem);
        width:calc(41.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-8, html.no-cssgrid .grid-wrapper-lg .grid-item-md-7, html.no-cssgrid .grid-wrapper .grid-item-md-4{
        flex-basis:calc(33.33% - 1rem);
        max-width:calc(33.33% - 1rem);
        width:calc(33.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-6, html.no-cssgrid .grid-wrapper-lg .grid-item-md-5, html.no-cssgrid .grid-wrapper .grid-item-md-3{
        flex-basis:calc(25% - 1rem);
        max-width:calc(25% - 1rem);
        width:calc(25% - 1rem);
    }


    html.no-cssgrid .grid-wrapper-lg .grid-item-md-4, html.no-cssgrid .grid-wrapper-lg .grid-item-md-3, html.no-cssgrid .grid-wrapper .grid-item-md-2{
        flex-basis:calc(16.66% - 1rem);
        max-width:calc(16.66% - 1rem);
        width:calc(16.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-md-2, html.no-cssgrid .grid-wrapper-lg .grid-item-md-1, html.no-cssgrid .grid-wrapper .grid-item-md-1{
        flex-basis:calc(8.33% - 1rem);
        max-width:calc(8.33% - 1rem);
        width:calc(8.33% - 1rem);
    }

    /* TABLET GRID STRUCTURE */

    html.cssgrid .grid-wrapper-lg .grid-item-md-24{
        grid-column-end: span 24;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-23{
        grid-column-end: span 23;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-22{
        grid-column-end: span 22;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-21{
        grid-column-end: span 21;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-20{
        grid-column-end: span 20;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-19{
        grid-column-end: span 19;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-18{
        grid-column-end: span 18;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-17{
        grid-column-end: span 17;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-16{
        grid-column-end: span 16;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-15{
        grid-column-end: span 15;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-14{
        grid-column-end: span 14;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-13{
        grid-column-end: span 13;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-12, html.cssgrid .grid-wrapper .grid-item-md-12 {
        grid-column-end: span 12;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-11, html.cssgrid .grid-wrapper .grid-item-md-11{
        grid-column-end: span 11;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-10, html.cssgrid .grid-wrapper .grid-item-md-10{
        grid-column-end: span 10;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-9, html.cssgrid .grid-wrapper .grid-item-md-9{
        grid-column-end: span 9;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-8, html.cssgrid .grid-wrapper .grid-item-md-8{
        grid-column-end: span 8;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-7, html.cssgrid .grid-wrapper .grid-item-md-7{
        grid-column-end: span 7;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-6, html.cssgrid .grid-wrapper .grid-item-md-6{
        grid-column-end: span 6;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-5, html.cssgrid .grid-wrapper .grid-item-md-5{
        grid-column-end: span 5;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-4, html.cssgrid .grid-wrapper .grid-item-md-4{
        grid-column-end: span 4;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-3, html.cssgrid .grid-wrapper .grid-item-md-3{
        grid-column-end: span 3;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-2, html.cssgrid .grid-wrapper .grid-item-md-2{
        grid-column-end: span 2;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-md-1, html.cssgrid .grid-wrapper .grid-item-md-1{
        grid-column-end: span 1;
    }
}


@media screen and (min-width: 70rem ) {
    
    /* DESKTOP FLEXBOX FALLBACK */
    
    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-24, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-23, html.no-cssgrid .grid-wrapper .grid-item-lg-12{
        flex-basis:calc(100% - 1rem);
        max-width:calc(100% - 1rem);
        width:calc(100% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-22, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-21, html.no-cssgrid .grid-wrapper .grid-item-lg-11{
        flex-basis:calc(91.66% - 1rem);
        max-width:calc(91.66% - 1rem);
        width:calc(91.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-20, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-19, html.no-cssgrid .grid-wrapper .grid-item-lg-10{
        flex-basis:calc(83.33% - 1rem);
        max-width:calc(83.33% - 1rem);
        width:calc(83.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-18, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-17, html.no-cssgrid .grid-wrapper .grid-item-lg-9{
        flex-basis:calc(75% - 1rem);
        max-width:calc(75% - 1rem);
        width:calc(75% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-16, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-15, html.no-cssgrid .grid-wrapper .grid-item-lg-8{
        flex-basis:calc(66.66% - 1rem);
        max-width:calc(66.66% - 1rem);
        width:calc(66.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-14, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-13, html.no-cssgrid .grid-wrapper .grid-item-lg-7{
        flex-basis:calc(58.33% - 1rem);
        max-width:calc(58.33% - 1rem);
        width:calc(58.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-12, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-11, html.no-cssgrid .grid-wrapper .grid-item-lg-6{
        flex-basis:calc(50% - 1rem);
        max-width:calc(50% - 1rem);
        width:calc(50% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-10, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-9, html.no-cssgrid .grid-wrapper .grid-item-lg-5{
        flex-basis:calc(41.66% - 1rem);
        max-width:calc(41.66% - 1rem);
        width:calc(41.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-8, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-7, html.no-cssgrid .grid-wrapper .grid-item-lg-4{
        flex-basis:calc(33.33% - 1rem);
        max-width:calc(33.33% - 1rem);
        width:calc(33.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-6, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-5, html.no-cssgrid .grid-wrapper .grid-item-lg-3{
        flex-basis:calc(25% - 1rem);
        max-width:calc(25% - 1rem);
        width:calc(25% - 1rem);
    }


    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-4, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-3, html.no-cssgrid .grid-wrapper .grid-item-lg-2{
        flex-basis:calc(16.66% - 1rem);
        max-width:calc(16.66% - 1rem);
        width:calc(16.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-lg-2, html.no-cssgrid .grid-wrapper-lg .grid-item-lg-1, html.no-cssgrid .grid-wrapper .grid-item-lg-1{
        flex-basis:calc(8.33% - 1rem);
        max-width:calc(8.33% - 1rem);
        width:calc(8.33% - 1rem);
    }

    /* DESKTOP GRID STRUCTURE */

    html.cssgrid .grid-wrapper-lg .grid-item-lg-24{
        grid-column-end: span 24;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-23{
        grid-column-end: span 23;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-22{
        grid-column-end: span 22;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-21{
        grid-column-end: span 21;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-20{
        grid-column-end: span 20;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-19{
        grid-column-end: span 19;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-18{
        grid-column-end: span 18;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-17{
        grid-column-end: span 17;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-16{
        grid-column-end: span 16;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-15{
        grid-column-end: span 15;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-14{
        grid-column-end: span 14;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-13{
        grid-column-end: span 13;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-12, html.cssgrid .grid-wrapper .grid-item-lg-12{
        grid-column-end: span 12;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-11, html.cssgrid .grid-wrapper .grid-item-lg-11{
        grid-column-end: span 11;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-10, html.cssgrid .grid-wrapper .grid-item-lg-10{
        grid-column-end: span 10;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-9, html.cssgrid .grid-wrapper .grid-item-lg-9{
        grid-column-end: span 9;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-8, html.cssgrid .grid-wrapper .grid-item-lg-8{
        grid-column-end: span 8;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-7, html.cssgrid .grid-wrapper .grid-item-lg-7{
        grid-column-end: span 7;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-6, html.cssgrid .grid-wrapper .grid-item-lg-6{
        grid-column-end: span 6;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-5, html.cssgrid .grid-wrapper .grid-item-lg-5{
        grid-column-end: span 5;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-4, html.cssgrid .grid-wrapper .grid-item-lg-4{
        grid-column-end: span 4;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-3, html.cssgrid .grid-wrapper .grid-item-lg-3{
        grid-column-end: span 3;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-2, html.cssgrid .grid-wrapper .grid-item-lg-2{
        grid-column-end: span 2;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-lg-1, html.cssgrid .grid-wrapper .grid-item-lg-1{
        grid-column-end: span 1;
    }
}

@media screen and (min-width: 90rem ) {
    
    /* DESKTOP PLUS FLEXBOX FALLBACK */
    
    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-24, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-23, html.no-cssgrid .grid-wrapper .grid-item-xl-12{
        flex-basis:calc(100% - 1rem);
        max-width:calc(100% - 1rem);
        width:calc(100% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-22, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-21, html.no-cssgrid .grid-wrapper .grid-item-xl-11{
        flex-basis:calc(91.66% - 1rem);
        max-width:calc(91.66% - 1rem);
        width:calc(91.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-20, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-19, html.no-cssgrid .grid-wrapper .grid-item-xl-10{
        flex-basis:calc(83.33% - 1rem);
        max-width:calc(83.33% - 1rem);
        width:calc(83.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-18, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-17, html.no-cssgrid .grid-wrapper .grid-item-xl-9{
        flex-basis:calc(75% - 1rem);
        max-width:calc(75% - 1rem);
        width:calc(75% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-16, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-15, html.no-cssgrid .grid-wrapper .grid-item-xl-8{
        flex-basis:calc(66.66% - 1rem);
        max-width:calc(66.66% - 1rem);
        width:calc(66.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-14, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-13, html.no-cssgrid .grid-wrapper .grid-item-xl-7{
        flex-basis:calc(58.33% - 1rem);
        max-width:calc(58.33% - 1rem);
        width:calc(58.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-12, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-11, html.no-cssgrid .grid-wrapper .grid-item-xl-6{
        flex-basis:calc(50% - 1rem);
        max-width:calc(50% - 1rem);
        width:calc(50% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-10, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-9, html.no-cssgrid .grid-wrapper .grid-item-xl-5{
        flex-basis:calc(41.66% - 1rem);
        max-width:calc(41.66% - 1rem);
        width:calc(41.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-8, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-7, html.no-cssgrid .grid-wrapper .grid-item-xl-4{
        flex-basis:calc(33.33% - 1rem);
        max-width:calc(33.33% - 1rem);
        width:calc(33.33% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-6, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-5, html.no-cssgrid .grid-wrapper .grid-item-xl-3{
        flex-basis:calc(25% - 1rem);
        max-width:calc(25% - 1rem);
        width:calc(25% - 1rem);
    }


    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-4, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-3, html.no-cssgrid .grid-wrapper .grid-item-xl-2{
        flex-basis:calc(16.66% - 1rem);
        max-width:calc(16.66% - 1rem);
        width:calc(16.66% - 1rem);
    }

    html.no-cssgrid .grid-wrapper-lg .grid-item-xl-2, html.no-cssgrid .grid-wrapper-lg .grid-item-xl-1, html.no-cssgrid .grid-wrapper .grid-item-xl-1{
        flex-basis:calc(8.33% - 1rem);
        max-width:calc(8.33% - 1rem);
        width:calc(8.33% - 1rem);
    }

    /* DESKTOP PLUS GRID STRUCTURE */

    html.cssgrid .grid-wrapper-lg .grid-item-xl-24{
        grid-column-end: span 24;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-23{
        grid-column-end: span 23;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-22{
        grid-column-end: span 22;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-21{
        grid-column-end: span 21;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-20{
        grid-column-end: span 20;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-19{
        grid-column-end: span 19;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-18{
        grid-column-end: span 18;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-17{
        grid-column-end: span 17;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-16{
        grid-column-end: span 16;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-15{
        grid-column-end: span 15;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-14{
        grid-column-end: span 14;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-13{
        grid-column-end: span 13;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-12, html.cssgrid .grid-wrapper .grid-item-xl-12{
        grid-column-end: span 12;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-11, html.cssgrid .grid-wrapper .grid-item-xl-11{
        grid-column-end: span 11;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-10, html.cssgrid .grid-wrapper .grid-item-xl-10{
        grid-column-end: span 10;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-9, html.cssgrid .grid-wrapper .grid-item-xl-9{
        grid-column-end: span 9;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-8, html.cssgrid .grid-wrapper .grid-item-xl-8{
        grid-column-end: span 8;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-7, html.cssgrid .grid-wrapper .grid-item-xl-7{
        grid-column-end: span 7;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-6, html.cssgrid .grid-wrapper .grid-item-xl-6{
        grid-column-end: span 6;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-5, html.cssgrid .grid-wrapper .grid-item-xl-5{
        grid-column-end: span 5;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-4, html.cssgrid .grid-wrapper .grid-item-xl-4{
        grid-column-end: span 4;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-3, html.cssgrid .grid-wrapper .grid-item-xl-3{
        grid-column-end: span 3;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-2, html.cssgrid .grid-wrapper .grid-item-xl-2{
        grid-column-end: span 2;
    }
    html.cssgrid .grid-wrapper-lg .grid-item-xl-1, html.cssgrid .grid-wrapper .grid-item-xl-1{
        grid-column-end: span 1;
    }
}



