* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* -- Intro -- */

#container.hide{
    position: absolute;
}

/* -- Navigation Bar -- */

nav {
    position: fixed;
    top: 0;
    left: 0;
}

body.no-scroll.mobile{
    overflow: hidden;
}

button#menu-button{
    display: block;
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 2.5rem;
    right: 0;
    
}

.menu-block{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    z-index:2;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px #d2d2d2;
    -webkit-transition: box-shadow 200ms ease, background-color 220ms ease;
    -moz-transition: box-shadow 200ms ease, background-color 220ms ease;
    -ms-transition: box-shadow 200ms ease, background-color 220ms ease;
    -o-transition: box-shadow 200ms ease, background-color 220ms ease;
    transition: box-shadow 200ms ease, background-color 220ms ease;
}

.menu-block.bottom{
    height: 8vh;
}

footer.menu-block{
    box-shadow: 0px 0px 0px #fff;
}

.menu-wrapper{
    display:flex;
    position:relative;
    margin: 0 3rem;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    max-height: 4rem;
    width: 100%;
    /*z-index: 3;*/
}

.menu-block-left{
    position: relative;
    display: flex;
}

.menu-block-right{
    position: relative;
    display: flex;
}

/* -- Logo -- */

#logo{
    display: block;
    width: auto;
    height: 100%;
    cursor: pointer;
}

svg .logo-stroke{
    fill: #221F1F;
}

svg .logo-pop{
    fill: #89da90;
}


/* -- Menu Slide In -- */

#main-menu{
    position: fixed;
    top: 10vh;
    height: 82vh;
    width: 100vw;
    overflow: none;
    z-index: 500;
}

#main-menu .project-menu-select{
    position: relative;
    background-color: #fff;
    display:flex;
    align-content: center;
    height: calc(100% / 6);
    width: 100%;
    color: #000;
    border-bottom: 1px solid #89da90;
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

#main-menu .project-menu-select:hover{
    background-color: #f1f1f1;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;

}

#main-menu .project-menu-select:first-of-type{
    border-top: 1px solid #89da90;
}

#main-menu .project-menu-select .content-wrapper{
    height: auto;
    align-self: center;
    display: flex;
    height: auto;
}

/* -- Projects --*/

.project{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-content: stretch; 
    width: 100vw;
    z-index: -2;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* -- Project Title Area -- */

.title-flex-wrapper{
    display: flex;
    position: absolute;
    overflow: hidden;
    flex-direction: row;
    width: 100vw;
    flex-wrap: nowrap;
    height: 50%;
    top: 10vh;
}

.title-block{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
}

#footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 50;
    /*-webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);*/
}

/*#footer.active{
    right: 0;
    -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}*/

#slide-controls{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.project-title{
    display:flex;
    color: white;
    flex-direction: column;
    left: 0;
    width: auto;
    height: auto;
}

#project-track{
    display:none;
}

.flex-wrapper{
    display:flex;
    width: 100%;
    height: 100%;
}

.center{
    align-items: center;
}

.content-wrapper{
    padding: 0 3rem;
}

.cover{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 50%;
    background-color: blue;
    right: 0;
    top: 10vh;
    position: absolute;
}

.project-button{
    display: none;
    position: absolute;
    top: 75%;
    margin: 0 auto;
    height: 4rem;
    width: 4rem;
    background-color: red;
    border-radius: 50%;
    border-color: #fff;
    border-width: 3px;
    -webkit-transition: background-color 400ms ease, border-color 400ms ease;
    -moz-transition: background-color 400ms ease, border-color 400ms ease;
    -ms-transition: background-color 400ms ease, border-color 400ms ease;
    -o-transition: background-color 400ms ease, border-color 400ms ease;
    transition: background-color 400ms ease, border-color 400ms ease;
}

.project-button.active{
    background-color: rgba(255, 255, 255, 0);
    border-color: #221F1F;
    
}

.project-content{
    position: absolute;
    top: calc(50% + 10vh);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: auto;
}

.project-content .content-wrapper{
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    position: relative;
}

#project-one{
    z-index: 7;
}

#project-two{
    z-index: 6;
}

#project-three{
    z-index: 5;
}

#project-four{
    z-index: 4;
}

#project-five{
    z-index: 3;
}

#project-six{
    z-index: 2;
}

#project-seven{
    z-index: 1;
}

#project-eight{
    z-index: 0;
}

.image{
    position: relative;
    display: block;
    height: 100%;
    width: auto;
}

/* ----------- Utility??  ----------- */  /*
 
.body-wrapper::-webkit-scrollbar {
    width: 1em;
}
 
.body-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
}
 
.body-wrapper::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid #89da90;;
} */

/* ----------- Accessibility  ----------- */

.sr-only{
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}

/* ----------- MEDIA QUERIES  ----------- */

/* title-wrapper-desktop-fix
@media screen and (min-width:55em) {

    .title-flex-wrapper{
        display: flex;
        position: absolute;
        overflow: hidden;
        flex-direction: row;
        width: 100vw;
        flex-wrap: nowrap;
        height: 50%;
    }
}
 */

/* ----------------- Vertical Media Queries above Mobile  ----------------- */

@media screen and (max-width:55em) {
        
    @media screen and (max-height:40em) {

        .menu-block{
            height: 4rem;
        }
        
        .menu-block.bottom{
            height: 3rem;
        }

        /*#project-track{
            top: 6rem;
            height: calc(100vh - 12rem);
        }*/

        #main-menu{
            height: calc(100vh - 7rem);
            top: 4rem;
        }
        
        .title-flex-wrapper{
            top: 4rem;
        }
        
        .cover{
            top: 4rem;
        }
        
        .project-content{
            top: calc(50% + 4rem);
        }
    }
}

/* ----------------- Tablet  ----------------- */

@media screen and (min-width:55em) {
    
    body.no-scroll{
        overflow: hidden;
    }

    .title-flex-wrapper{
        flex-direction: column;
        height: 100vh;
        width: 48vw;
    }
    
    .title-block{
        display: block;
        width: 48vw;
        height: 100vh;
        position: fixed;
        background-color: white;
        overflow-y: hidden;
    }
    
    .menu-block{
        width: 48vw;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px #fff;
        -webkit-transition: box-shadow 200ms ease, background-color 220ms ease;
        -moz-transition: box-shadow 200ms ease, background-color 220ms ease;
        -ms-transition: box-shadow 200ms ease, background-color 220ms ease;
        -o-transition: box-shadow 200ms ease, background-color 220ms ease;
        transition: box-shadow 200ms ease, background-color 220ms ease;
        
    }
    
    .menu-block.top{
        height: 15vh;
    }
    
    .menu-block.bottom{
        height: 10vh;
    }
    
    #main-menu{
        height: 75vh;
        top: 15vh;
        width: 48vw;
    }
    
    #flexbox{
        flex-direction: row;
    }
    
    /*footer.mobile{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        z-index:2;
    }*/
    
    #slide-controls{
        display:none;
    }
    
    .project{
        margin-top:0;
        position: absolute;
        overflow: hidden;
        top: 0;
        height: 100vh;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: overflow;
    }
    
    .project-title{
        position: absolute;
        color: black;
        max-width: 80%;
    }
    
    .project-content .content-wrapper{
        height: 100vh;
        padding: 5rem;
        overflow: scroll;
    }
    
    .cover{
        width: 52vw;
        height: 100vh;
        top: 0;
    }
    
    .project-button{
        display: block;
        position: absolute;
        top: calc(50vh - 2rem);
        left: calc(48vw - 6.25rem);
        background-color: red;
        border-radius: 50%;
        z-index: 50;
    }
    
    #project-track{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-content: stretch;
        position: absolute;
        top:0;
        height: 100vh;
        left: 48vw;
        width: 0.35rem;
        z-index: 50;
        background-color: #89da90;   
    }
    
    .project-track-fill {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        transform: translate3d(0,0%,0);
        background: white;
        
    }
    
    .project-content{
        top: 0;
        right: 0;
        width: 52vw;
        height: auto;
        min-height: fit-content;
        overflow-y: scroll;
    }
    
    footer#footer, footer#footer.hide, footer#footer.view{
        position: fixed;
        width: 48vw;
        bottom: 0;
        left: 0;
        transform: translate3d(0,0,0);
    }
    
    /* --------- Nested Vertial Media Queries ---------- */
    
    @media screen and (max-height:40em) {
        
        .menu-block.top{
            height: 6rem;
        }
        
        .menu-block.bottom{
            height: 4rem;
        }

        /*#project-track{
            top: 6rem;
            height: calc(100vh - 12rem);
        }*/
        
        #main-menu{
            height: calc(100vh - 10rem);
            top: 6rem;
        }
        
        #body-wrapper{
            height: calc(100vh - 7rem);
        }
        
        
    }

}

/* ---------------- Desktop ------------------ */

@media screen and (min-width:75em) {
    

    .menu-block{
        width: 35vw;
    }
    
    #main-menu{
        /*right: 100%;*/
        width: 35vw;
    }
    
    .title-block{
        width: 35vw;
    }
    
    .title-flex-wrapper{
        width: 35vw;
    }
    
    .cover{
        width:65vw;
    }
    
    .project-button{
        left: calc(35vw - 6.25rem);
    }
    
    .project-content{
        width: 65vw;
    }
    
    .project-content.active {
        left: 35vw;
    }
    
    footer#footer, footer#footer.hide, footer#footer.view{
        width: 35vw;
    }
    
    #project-track{
        left: 35vw;
    }
    
    
}
