* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#body-wrapper{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-content: stretch; 
    top: 4rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 8rem);
}

.flexbox{
    display: flex;
    flex-direction: column;
}

#title-block{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50%;
    background-color: transparent;
    z-index: 1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

button#menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-self: flex-end;
    background-color: grey;
    height: 100%;
    width: 2rem;
    
}


.menu-block{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4rem;
    z-index:2;
    background-color: pink;
}

.menu-wrapper{
    display:flex;
    position:relative;
    margin: 0 2rem;
    align-items: center;
    height: 65%;
    max-height:4rem;
    width: 100%;
    background-color:orange;
    z-index: 3;
}

footer{
    position: relative;
    display:flex;
    align-items: center;
    bottom: 0;
    left: 0;
}

footer.mobile{
    display:none;
}

#slide-controls{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.project{
    position: absolute;
    display:flex;
    flex-direction: column;
    left: 0;
    width: auto;
    height: auto;
}

#project-track{
    display:none;
}

.flex-wrapper{
    display:flex;
    width: 100vw;
    height: 100vh;
}

.center{
    align-items: center;
}

.content-wrapper{
    padding: 0 2rem;
}

#cover{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 50%;
    background-color: green;
    right: 0;
    top: 0;
    position: absolute;
}

#project-button{
    display: none;
    position: relative;
    top: 75%;
    margin: 0 auto;
    height: 4rem;
    width: 4rem;
    background-color: red;
    border-radius: 50%;
    
}

.project-content{
    position: absolute;
    top:50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: auto;
}

.project-content .content-wrapper{
    padding: 5rem 2rem;
    background-color: white;
    display: block;
    height: auto;
    position: relative;
}

.image{
    position: relative;
    display: block;
    height: 100%;
    width: auto;
}

/* ----------- MEDIA QUERIES  ----------- */

/* ----------------- Tablet  ----------------- */

@media screen and (min-width:44em) {
 
    body{
        overflow: hidden;
    }
    
    nav{
        position: absolute;
    }
    
    #body-wrapper{
        overflow: hidden;
        flex-direction: row;
        top: 0;
        height: 100vh;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: overflow;
    }
    
    #title-block{
        width: 50vw;
        height: 100vh;
        background-color: white;
        overflow-y: hidden;
    }
    
    .menu-block{
        width: 50vw;
    }
    
    #flexbox{
        flex-direction: row;
    }
    
    footer.mobile{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        z-index:2;
    }
    
    #slide-controls{
        display:none;
    }
    
    .project{
        margin-top:0;
    }
    
    #cover{
        width: 50vw;
        height: 100vh;
        top: 0;
        -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    #cover.active{
        right: 65vw
    }
    
    #project-button{
        display: block;
        position: absolute;
        top: calc(50vh - 2rem);
        left: 4rem;
        height: 4rem;
        width: 4rem;
        background-color: red;
        border-radius: 50%;
        z-index: 5;
        -webkit-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    #cover.active #project-button{
        position: absolute;
        left: 100%;
    }
    
    #project-track{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-content: stretch;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 0.75rem;
        height:calc(100vh - 10rem);
        top: 12.5vh;
        z-index: 10;
        background-color: yellow;
        
    }
    
    .project-content{
        top: 0;
        left:100vw;
        width: 50vw;
        height: auto;
        min-height: fit-content;
        overflow-y: scroll;
        -webkit-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .project-content.active {
        left: 50vw;
    }
    
    /* --------- Nested Vertial Media Queries ---------- */
    
    @media screen and (min-height:40em) {
        
        .menu-block{
            height: 6rem;
        }

        #project-track{
            top: 6rem;
            height: calc(100vh - 12rem);
        }
    }

    @media screen and (min-height:60em) {
        
        .menu-block{
            height: 8rem;
        }

        #project-track{
            top: 8rem;
            height: calc(100vh - 16rem);
        }

    }

}

/* ---------------- Desktop ------------------ */

@media screen and (min-width:64em) {
    

    .menu-block{
        width: 35vw;
    }
    
    #title-block{
        width: 35vw;
    }
    
    #cover{
        width:65vw;
    }
    
    .project-content{
        width: 65vw;
    }
    
    .project-content.active {
        left: 35vw;
    }
    
    #cover.active #project-button{
        position: absolute;
        left: calc(100% - 8rem);
    }
    
}
