body{
    background: var(--color-snowflake-grey);
}

img, iframe {
    border: none
}

.content-wrapper{
    padding: 0 8vw;
    -webkit-transform: translateY(var(--spacing-sm));
    transform: translateY(var(--spacing-sm));
    -webkit-transition: transform var(--normal-speed)  ease-in-out;
    -moz-transition: transform var(--normal-speed)  ease-in-out;
    -o-transition: transform var(--normal-speed)  ease-in-out;
    transition: transform var(--normal-speed) ease-in-out;
}



/* Tile Styling System */


.tile{
    width:100%;
    z-index: 0;
} 

.tile::before, button.trigger::before{
    content:'';
    height:100%;
    width:100%;
    z-index: -10;
    position: absolute;
    box-shadow: var(--shadow-subtle);
    border-radius: var(--border-radius-std);
    background: #fff;
    -webkit-transition: box-shadow var(--fast-speed)  ease-in-out;
    -moz-transition: box-shadow var(--fast-speed)  ease-in-out;
    -o-transition: box-shadow var(--fast-speed)  ease-in-out;
    transition: box-shadow var(--fast-speed) ease-in-out;
    
} 

.tile::after, button.trigger::before{
    content:'';
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: -5;
    border-radius: var(--border-radius-std);
    box-shadow: var(--shadow-element);
    opacity:1;
    -webkit-transition: box-shadow var(--fast-speed)  ease-in-out;
    -moz-transition: box-shadow var(--fast-speed)  ease-in-out;
    -o-transition: box-shadow var(--fast-speed)  ease-in-out;
    transition: box-shadow var(--fast-speed) ease-in-out;
} 

.tile .inner{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.tile .inner::after{
    position:absolute;
    content:'';
}

.tile-trigger{
    height: 100%;
}

.tile-trigger .tile{
    border:0;
    background-color: #fff;
    padding: 0;
    border-radius: var(--border-radius-std);
}

.highlight-top .inner::after{
    height: 1rem;
    width: 100%;
    top:0;
    left:0;
    border-top-right-radius: var(--border-radius-std);
    border-top-left-radius: var(--border-radius-std);
        
}

.highlight-left .inner::after{
    height: 100%;
    width: 1rem;
    top:0;
    left:0;
    border-bottom-left-radius: var(--border-radius-std);
    border-top-left-radius: var(--border-radius-std);
        
}

.highlight-right .inner::after{
    height: 100%;
    width: 1rem;
    top:0;
    right:0;
    border-bottom-right-radius: var(--border-radius-std);
    border-top-right-radius: var(--border-radius-std);
        
}

.tile.image .inner::before{
    content:'';
    height:100%;
    width:100%;
    position: absolute;
    z-index: 1;
    border-radius: var(--border-radius-std);
    display: block;
    background-color: var(--color-black);
    opacity: 0.5;
}

.tile.image .inner::after{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}


.image.highlight-top .inner::after{
    background-image: url(../img/ref-img-landscape.jpg);
    height: var(--fluid-spacing-xxl);
}

.image.highlight-left .inner::after, .image.highlight-right .inner::after{
    background-image: url(../img/ref-img-portrait.jpg);
    width: var(--fluid-spacing-xxl);
}

.gradient-red .inner::after{
    background-image:linear-gradient(30deg, var(--color-dark-red) 0%, var(--color-red) 100%);
}
.gradient-green .inner::after{
    background-image:linear-gradient(30deg, var(--color-dark-green) 0%, var(--color-green) 100%);
}
.gradient-blue .inner::after{
    background-image:linear-gradient(30deg, var(--color-dark-blue) 0%, var(--color-blue) 100%);
}

.tile .contents{
    display: flex;
    flex-direction: column;
    padding: var(--fluid-spacing-sm);
}

.tile .description{
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    padding: 0 var(--fluid-spacing-sm);
    z-index: 100;
    height: 100%;
    align-items: center;
}

.tile .summary{
    position: relative;
    font-size: var(--font-xs);
    line-height: 1.4;
    margin: 0;
    color: #fff;
    font-weight: var(--bold);
    text-shadow: 1px 1px 1px var(--color-dark-grey);
}

[id^="proj-"] .cta{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: var(--border-radius-std);
    border-bottom-right-radius: var(--border-radius-std);
    padding-bottom: 2px;
    z-index: 100;
    position: relative;
}

html.no-cssgrid [id^="proj-"] .tile-cta{
    transform: translateY(-2.5rem);
}

.tile.highlight-top .contents{
    padding-top: calc(var(--fluid-spacing-sm) + 1rem);
}

.tile.highlight-right .contents{
    padding-right: calc(var(--fluid-spacing-sm) + 1rem);
}

.tile.highlight-left .contents{
    padding-left: calc(var(--fluid-spacing-sm) + 1rem);
}

.tile.highlight-top.image .contents{
    padding-top: calc(var(--fluid-spacing-xxl) + 1rem);
}

.tile.highlight-right.image .contents{
    padding-right: calc(var(--fluid-spacing-xxl) + 1rem);
}

.tile.highlight-left.image .contents{
    padding-left: calc(var(--fluid-spacing-xxl) + 1rem);
}

.tile-cta a.cta{
    background-size: 200% auto;
    -webkit-transition: background-position var(--fast-speed)  ease-in-out;
    -moz-transition: background-position var(--fast-speed)  ease-in-out;
    -o-transition: background-position var(--fast-speed)  ease-in-out;
    transition: background-position var(--fast-speed) ease-in-out;
}

.tile-cta a.cta:hover, .tile-cta a.cta:focus{
    background-position: right center;
}


/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    .content-wrapper{
        padding: 0 15vw;
    }
    
    .sm_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .sm_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .sm_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .sm_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .sm_highlight-left.image .inner::after, .sm_highlight-right.image .inner:after{
        height: 100%;
        width: var(--fluid-spacing-xxl);

    }
    
    .tile.sm_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.sm_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.sm_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    .tile.sm_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.sm_highlight-right.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.sm_highlight-left.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }

}



/* TABLET */

@media screen and (min-width: 55rem ) {
    
    .content-wrapper{
        padding: 0 8vw;
        -webkit-transform: translateY(var(--spacing-lg));
        transform: translateY(var(--spacing-lg));
    }
    
    .md_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .md_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .md_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);
    }
    
    .md_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .md_highlight-left.image .inner::after, .md_highlight-right.image .inner:after{
        height: 100%;
        width: var(--fluid-spacing-xxl);

    }
    
    .tile.md_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.md_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.md_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    .tile.md_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.md_highlight-right.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.md_highlight-left.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {
    
    .content-wrapper{
        -webkit-transform: translateY(var(--spacing-xl));
        transform: translateY(var(--spacing-xl));
        max-width: 70rem;
        margin: 0 auto;
    }
    
    .lg_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .lg_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .lg_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .lg_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .lg_highlight-left.image .inner::after, .lg_highlight-right.image .inner:after{
        height: 100%;
        width: var(--fluid-spacing-xxl);

    }
    
    .tile.lg_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.lg_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.lg_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    .tile.lg_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.lg_highlight-right.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.lg_highlight-left.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    
}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {
    
    .xl_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .xl_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .xl_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .xl_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .xl_highlight-left.image .inner::after, .xl_highlight-right.image .inner:after{
        height: 100%;
        width: var(--fluid-spacing-xxl);

    }
    
    .tile.xl_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.xl_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.xl_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }
    
    .tile.xl_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.xl_highlight-right.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: calc(var(--fluid-spacing-sm) + 1rem);
    }

    .tile.xl_highlight-left.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: calc(var(--fluid-spacing-sm) + 1rem);
    }

    
}
