* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* -- Navigation Bar -- */

nav {
    position: fixed;
    top: 0;
    left: 0;
}

button#menu-button{
    display: block;
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 2rem;
    right: 0;
    
}

.menu-block{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4rem;
    z-index:2;
    background-color: pink;
}

.menu-wrapper{
    display:flex;
    position:relative;
    margin: 0 2rem;
    align-items: center;
    justify-content: space-between;
    height: 65%;
    max-height:4rem;
    width: 100%;
    background-color:orange;
    z-index: 3;
}

.menu-block-left{
    position: relative;
    display: flex;
}

.menu-block-right{
    position: relative;
    display: flex;
}

/* -- Menu Slide In -- */

#main-menu{
    background-color: black;
    position: fixed;
    height: calc(100vh - 8rem);
    width: 100vw;
    right: 100%;
    overflow: none;
    -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 100;
}

#main-menu.active{
    right: 0;
    -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 100;
}

#main-menu .project-menu-select{
    display:flex;
    align-content: center;
    height: 10%;
    width: 100%;
}

#main-menu .project-menu-select .content-wrapper{
    height: auto;
    align-self: center;
    display: flex;
    height: auto;
}

.project-menu-select{
    color: #fff;
}

/* -- Project Title Area -- */

#body-wrapper{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-content: stretch; 
    top: 4rem;
    left: 0;
    overflow-x: hidden;
    width: 100vw;
    height: calc(100vh - 8rem);
}

#title-flex-wrapper{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 100vw;
    flex-wrap: nowrap;
    height: 50%;
}

.title-block{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
}

#footer{
    position: fixed;
    width: 100vw;
    right: 100%;
    bottom: 0;
    -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 150;
}

#footer.active{
    right: 0;
    -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#slide-controls{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.project{
    position: absolute;
    display:flex;
    flex-direction: column;
    left: 0;
    width: auto;
    height: auto;
}

#project-track{
    display:none;
}

.flex-wrapper{
    display:flex;
    width: 100vw;
    height: 100vh;
}

.center{
    align-items: center;
}

.content-wrapper{
    padding: 0 2rem;
}

.cover{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 50%;
    background-color: green;
    right: 0;
    top: 0;
    position: absolute;
}

.project-button{
    display: none;
    position: relative;
    top: 75%;
    margin: 0 auto;
    height: 4rem;
    width: 4rem;
    background-color: red;
    border-radius: 50%;
    
}

.project-content{
    position: absolute;
    top:50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    width: 100vw;
    height: auto;
}

.project-content .content-wrapper{
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    position: relative;
}

.image{
    position: relative;
    display: block;
    height: 100%;
    width: auto;
}

/* ----------- MEDIA QUERIES  ----------- */

/* ----------------- Tablet  ----------------- */

@media screen and (min-width:44em) {
 
    body{
        overflow: hidden;
    }
    
    nav{
        position: absolute;
    }
    
    #body-wrapper{
        overflow: hidden;
        flex-direction: row;
        top: 0;
        height: 100vh;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: overflow;
    }
    
    #title-flex-wrapper{
        flex-direction: column;
        height: 100vh;
    }
    
    .title-block{
        display: block;
        width: 50vw;
        height: 100vh;
        position: fixed;
        background-color: white;
        overflow-y: hidden;
    }
    
    .menu-block{
        width: 50vw;
    }
    
    #main-menu{
        height: calc(100vh - 8rem);
        top: 4rem;
        width: 50%;
        right: 100%
    }
    
    #main-menu.active{
        right: 50%;
    }
    
    #flexbox{
        flex-direction: row;
    }
    
    footer.mobile{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        z-index:2;
    }
    
    #slide-controls{
        display:none;
    }
    
    .project{
        margin-top:0;
    }
    
    .project-content .content-wrapper{
        height: 100vh;
        overflow: scroll;
    }
    
    .cover{
        width: 50vw;
        height: 100vh;
        top: 0;
        -webkit-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: right 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .cover.active{
        right: 50%;
    }
    
    .project-button{
        display: block;
        position: absolute;
        top: calc(50vh - 2rem);
        left: 4rem;
        height: 4rem;
        width: 4rem;
        background-color: red;
        border-radius: 50%;
        z-index: 5;
        -webkit-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .cover.active .project-button{
        left: calc(100% - 6.75rem);
    }
    
    #project-track{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-content: stretch;
        position: absolute;
        top: 5rem;
        left: calc(50vw - 0.75rem);
        width: 0.75rem;
        height:calc(100vh - 5rem);
        top: 5vh;
        z-index: 10;
        background-color: yellow;
        
    }
    
    .project-content{
        top: 0;
        left:100%;
        width: 50vw;
        height: auto;
        min-height: fit-content;
        overflow-y: scroll;
        -webkit-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .project-content.active {
        left: 50%;
    }
    
    footer{
        position: relative;
        display:flex;
        align-items: center;
        bottom: 0;
        left: 0;
    }
    
    #footer{
        position: absolute;
        width: 50vw;
        left: 0;
        bottom: 0;
    }

    #footer.active{
        right: 0;
    }
    
    /* --------- Nested Vertial Media Queries ---------- */
    
    @media screen and (min-height:40em) {
        
        .menu-block{
            height: 6rem;
        }

        #project-track{
            top: 6rem;
            height: calc(100vh - 12rem);
        }
        
        #main-menu{
            height: calc(100vh - 12rem);
            top: 6rem;
        }
        
        
    }

}

/* ---------------- Desktop ------------------ */

@media screen and (min-width:64em) {
    

    .menu-block{
        width: 35vw;
    }
    
    #main-menu{
        right: 100%;
        width: 35vw;
    }
    
    #main-menu.active{
        right: 65%;
    }
    
    .title-block{
        width: 35vw;
    }
    
    .cover{
        width:65vw;
    }
    
    .cover.active{
        right: 65%;
    }
    
    .project-content{
        width: 65vw;
    }
    
    .project-content.active {
        left: 35vw;
    }
    
    #footer{
        width: 35vw;
    }
    
    #project-track{
        left: calc(35vw - 0.75rem);
    }
    
    
}
