html{
    background: var(--color-snowflake-grey);
}

body{
    -webkit-transition: transform var(--normal-speed) var(--easy-ease);
    -moz-transition: transform var(--normal-speed) var(--easy-ease);
    -o-transition: transform var(--normal-speed) var(--easy-ease);
    transition: transform var(--normal-speed) var(--easy-ease);
}

img, iframe {
    border: none
}

.shadow{
    position: relative;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
}

.shadow .round:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(rgba(38,27,45,0), rgba(38,27,45,0), rgba(38,27,45,0.07), rgba(38,27,45,0.05), rgba(38,27,45,0));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaley(1.5) rotate(0deg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.shadow .round:after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(rgba(38,27,45,0), rgba(38,27,45,0), rgba(38,27,45,0), rgba(38,27,45,0.0), rgba(38,27,45,0), rgba(38,27,45,0.07), rgba(38,27,45,0.04), rgba(38,27,45,0.0), rgba(38,27,45,0), rgba(38,27,45,0));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaley(2) rotate(0deg);
    z-index: -10;
}

.shadow img{
    transform: rotate(65deg) scale(1.1);
    -webkit-transform: rotate(65deg) scale(1.1);
    box-shadow: 2px 3px 5px rgba(38,27,45,0.2);
}

.content-wrapper{
    padding: 0 8vw;
}



/* Tile Styling System */


.tile{
    width:100%;
    z-index: 0;
} 

.tile::before, button.trigger::before{
    content:'';
    height:100%;
    width:100%;
    top: 0;
    z-index: -10;
    position: absolute;
    box-shadow: var(--shadow-subtle);
    border-radius: var(--border-radius-std);
    background: var(--color-white);
    -webkit-transition: box-shadow var(--fast-speed) var(--easy-ease);
    -moz-transition: box-shadow var(--fast-speed) var(--easy-ease);
    -o-transition: box-shadow var(--fast-speed) var(--easy-ease);
    transition: box-shadow var(--fast-speed) var(--easy-ease);
    
} 

.tile::after, button.trigger::before{
    content:'';
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: -5;
    border-radius: var(--border-radius-std);
    box-shadow: var(--shadow-element);
    opacity:1;
    -webkit-transition: box-shadow var(--fast-speed) var(--easy-ease);
    -moz-transition: box-shadow var(--fast-speed) var(--easy-ease);
    -o-transition: box-shadow var(--fast-speed) var(--easy-ease);
    transition: box-shadow var(--fast-speed) var(--easy-ease);
} 

.tile .inner{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.tile .inner::after{
    position:absolute;
    content:'';
}

.tile-trigger{
    height: 100%;
}

.tile-trigger .tile{
    border:0;
    background-color: var(--color-white);
    padding: 0;
    border-radius: var(--border-radius-std);
}

.highlight-top .inner::after{
    height: 1rem;
    width: 100%;
    top:0;
    left:0;
    border-top-right-radius: var(--border-radius-std);
    border-top-left-radius: var(--border-radius-std);
        
}

.highlight-left .inner::after{
    height: 100%;
    width: 1rem;
    top:0;
    left:0;
    border-bottom-left-radius: var(--border-radius-std);
    border-top-left-radius: var(--border-radius-std);
        
}

.highlight-right .inner::after{
    height: 100%;
    width: 1rem;
    top:0;
    right:0;
    border-bottom-right-radius: var(--border-radius-std);
    border-top-right-radius: var(--border-radius-std);
        
}

.tile.image .inner::before{
    content:'';
    height:100%;
    width:100%;
    top: 0;
    position: absolute;
    z-index: 1;
    border-radius: var(--border-radius-std);
    display: block;
    opacity: 0.75;
}

.gradient-red .tile.image .inner::before{
    background-color: var(--color-dark-red);
}

.gradient-green .tile.image .inner::before{
    background-color: var(--color-dark-green);
}

.gradient-blue .tile.image .inner::before{
    background-color: var(--color-dark-blue);
}

.tile.image .inner::after{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}


.image.highlight-top .inner::after{
    height: var(--fluid-spacing-xxl);
}

.image.highlight-left .inner::after, .image.highlight-right .inner::after{
    width: var(--fluid-spacing-xxl);
}

.gradient-red .inner::after{
    background-image:linear-gradient(30deg, var(--color-red) 0%, var(--color-light-red) 100%);
}
.gradient-green .inner::after{
    background-image:linear-gradient(30deg, var(--color-green) 0%, var(--color-light-green) 100%);
}
.gradient-blue .inner::after{
    background-image:linear-gradient(30deg, var(--color-blue) 0%, var(--color-light-blue) 100%);
}

.tile .contents{
    display: flex;
    flex-direction: column;
    padding: var(--fluid-spacing-xs);
    min-height: 6rem;
    justify-content: center;
}

.tile .description{
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    padding: 0 var(--fluid-spacing-sm);
    z-index: 25;
    height: 100%;
    align-items: center;
}


.tile .summary{
    position: relative;
    font-size: var(--font-xs);
    margin: 0;
}

.tile .description .summary{
    color: var(--color-white);
}

html.dark-mode .tile .description .summary{
    color: var(--color-black);
}

[id^="proj-"] .cta{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: var(--border-radius-std);
    border-bottom-right-radius: var(--border-radius-std);
    padding-bottom: 2px;
    z-index: 25;
    position: relative;
}

[id^="proj-"] .cta .subhead::before{
    content:'Project Details';
}

[id^="proj-"] .cta .subhead::after{
    content:'Coming Soon!';
    opacity:0;
    display: none;
}

.tile.highlight-top .contents{
    padding-top: var(--fluid-spacing-md);
}

.tile.highlight-right .contents{
    padding-right: var(--fluid-spacing-md);
}

.tile.highlight-left .contents{
    padding-left: var(--fluid-spacing-md);
}

.tile.highlight-top.image .contents{
    padding-top: var(--fluid-spacing-xxl);
}

.tile.highlight-right.image .contents{
    padding-right: var(--fluid-spacing-xxl);
}

.tile.highlight-left.image .contents{
    padding-left: var(--fluid-spacing-xxl);
}

.tile-trigger.gradient-red a.cta{
    background: linear-gradient(90deg, var(--color-light-red), var(--color-red), var(--color-dark-red));
}

.tile-trigger.gradient-green a.cta{
    background: linear-gradient(45deg, var(--color-light-green), var(--color-green), var(--color-dark-green));
}

.tile-trigger.gradient-blue a.cta{
    background: linear-gradient(45deg, var(--color-light-blue), var(--color-blue), var(--color-dark-blue));
}

.tile-trigger .tile-cta a.cta{
    background-size: 200% auto;
    -webkit-transition: background-position var(--fast-speed)  ease-in-out;
    -moz-transition: background-position var(--fast-speed)  ease-in-out;
    -o-transition: background-position var(--fast-speed)  ease-in-out;
    transition: background-position var(--fast-speed) ease-in-out;
}

.tile-trigger .tile-cta a.cta:hover, .tile-cta a.cta:focus{
    background-position: right center;
}

/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    body{
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -o-transform: translateY(2rem);
        transform: translateY(2rem);
    }
    
    .content-wrapper{
        padding: 0 10vw;
        max-width: 30rem;
        margin: 0 auto;
    }
    
    .sm_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .sm_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .sm_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .sm_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .sm_highlight-left.image .inner::after, .sm_highlight-right.image .inner:after{
        height: 100%;
        width: 32%;

    }
    
    .tile.sm_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-md);
    }

    .tile.sm_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: var(--fluid-spacing-md);
    }

    .tile.sm_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: var(--fluid-spacing-md);
    }
    
    .tile.sm_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-xxl);
    }

    .tile.sm_highlight-right.image .contents{
        padding:  1rem;
        padding-right: 32%;
    }

    .tile.sm_highlight-left.image .contents{
        padding:  1rem;
        padding-left: 32%;
    }

}



/* TABLET */

@media screen and (min-width: 55rem ) {
    
    body{
        -webkit-transform: translateY(5rem);
        -moz-transform: translateY(5rem);
        -o-transform: translateY(5rem);
        transform: translateY(5rem);
    }
    
    .content-wrapper{
        padding: 0 8vw;
        max-width: 100vw;
    }
    
    .md_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .md_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .md_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);
    }
    
    .md_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .md_highlight-left.image .inner::after, .md_highlight-right.image .inner:after{
        height: 100%;
        width: 32%;

    }
    
    .tile.md_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-md);
    }

    .tile.md_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: var(--fluid-spacing-md);
    }

    .tile.md_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: var(--fluid-spacing-md);
    }
    
    .tile.md_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-xxl);
    }

    .tile.md_highlight-right.image .contents{
        padding: 1rem;
        padding-right: 32%;
    }

    .tile.md_highlight-left.image .contents{
        padding: 1rem;
        padding-left: 32%;
    }
    
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {
    
    .content-wrapper{
        max-width: 70rem;
    }
    
    .lg_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .lg_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .lg_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .lg_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .lg_highlight-left.image .inner::after, .lg_highlight-right.image .inner:after, .md_highlight-left.image .inner:after, .md_highlight-right.image .inner:after, .sm_highlight-left.image .inner:after, .sm_highlight-right.image .inner:after, highlight-left.image .inner:after, highlight-right.image .inner:after{
        height: 100%;
        width: 32.5%;

    }
    
    .tile.lg_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-md);
    }

    .tile.lg_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: var(--fluid-spacing-md);
    }

    .tile.lg_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: var(--fluid-spacing-md);
    }
    
    .tile.lg_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-xxl);
    }

    .tile.lg_highlight-right.image .contents, .tile.md_highlight-right.image .contents, .tile.sm_highlight-right.image .contents, .tile.highlight-right.image .contents{
        padding: 1rem;
        padding-right: 32.5%;
    }

    .tile.lg_highlight-left.image .contents, .tile.md_highlight-left.image .contents, .tile.sm_highlight-left.image .contents, .tile.highlight-left.image .contents{
        padding: 1rem;
        padding-left: 32.5%;
    }
    
    
}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {
    
    
    .xl_highlight-top .inner::after{
        height: 1rem;
        width: 100%;
        top:0;
        left:0;
        border-radius: 0;
        border-top-right-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .xl_highlight-left .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        left:0;
        right: auto;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius-std);
        border-top-left-radius: var(--border-radius-std);

    }

    .xl_highlight-right .inner::after{
        height: 100%;
        width: 1rem;
        top:0;
        right:0;
        left: auto;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius-std);
        border-top-right-radius: var(--border-radius-std);

    }
    
    .xl_highlight-top.image .inner::after{
        height: var(--fluid-spacing-xxl);
        width: 100%;
    }
    
    .xl_highlight-left.image .inner::after, .xl_highlight-right.image .inner:after{
        height: 100%;
        width: 32%;

    }
    
    .tile.xl_highlight-top .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-md);
    }

    .tile.xl_highlight-right .contents{
        padding: var(--fluid-spacing-sm);
        padding-right: var(--fluid-spacing-md);
    }

    .tile.xl_highlight-left .contents{
        padding: var(--fluid-spacing-sm);
        padding-left: var(--fluid-spacing-md);
    }
    
    .tile.xl_highlight-top.image .contents{
        padding: var(--fluid-spacing-sm);
        padding-top: var(--fluid-spacing-xxl);
    }

    .tile.xl_highlight-right.image .contents{
        padding: 1rem;
        padding-right: 32.5%;
    }

    .tile.xl_highlight-left.image .contents{
        padding: 1rem;
        padding-left: 32.5%;
    }

    
}
