/* NAVIGATION */

nav [class^="grid-item"]{
    position: static;
}

header{
    padding: var(--spacing-xs) 0;
}

/* Logo */

.logo-container{
    max-width: 7rem;
    height: 3.6rem;
    margin: 0 auto;
}

.logo{
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible !important;
    right:0.2rem;
}

.logo .loading-bar{
    -webkit-transition: stroke-dashoffset 0.1s;
	transition: stroke-dashoffset 0.1s;
	stroke: rgba(235,150,145,1);
    stroke-width: 35;
    z-index:-5;
}

.logo .logo-heading, .logo .logo-subhead, .logo .logo-container, .logo .loading-bar {
    opacity: 0;
    -webkit-transition: var(--normal-speed) ease-in-out;
    -moz-transition: var(--normal-speed) ease-in-out;
    -o-transition: var(--normal-speed) ease-in-out;
    transition: var(--normal-speed) ease-in-out;
}


button#menu-button{
    background: none;
    display: block;
    position: absolute;
    height: 100%;
    width: 2rem;
    right: 0;   
    top: 0;
    border: none;
}

button#menu-button:focus{
    outline: none;
}

button#menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--color-black);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all var(--fast-speed)  ease;
    -moz-transition: all var(--fast-speed) ease;
    -o-transition: all var(--fast-speed) ease;
    transition: all var(--fast-speed) ease;
}

button#menu-button span:nth-child(1), button#menu-button span:nth-child(4) {
    width: 70%;
    left: 15%;
}

button#menu-button span:nth-child(1) {
    top: 16px;
}

button#menu-button span:nth-child(4) {
    bottom: 16px;
}

button#menu-button:focus span:nth-child(1), button#menu-button:hover span:nth-child(1), button#menu-button:focus span:nth-child(4), button#menu-button:hover span:nth-child(4) {
    width: 100%;
    left: 0%;
}

button#menu-button:focus span:nth-child(1), button#menu-button:hover span:nth-child(1) {
    background: var(--color-green);
}

button#menu-button:focus span, button#menu-button:hover span{
    background-color: var(--color-red);
}

button#menu-button:focus span:nth-child(4), button#menu-button:hover span:nth-child(4) {
    background: var(--color-blue);
}

button#menu-button.open span:nth-child(1) {
    top: 0;
}

button#menu-button.open span:nth-child(4) {
    bottom: 0;
} 

button#menu-button span:nth-child(2), button#menu-button span:nth-child(3) {
    top: calc(50% - 2px);
}

button#menu-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

button#menu-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    .logo .logo-container, .logo .loading-bar{
        opacity: 1;
    }
    
    header{
        padding: var(--spacing-sm);
    }
    
}


/* TABLET */

@media screen and (min-width: 55rem ) {
    
    header{
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {
    

}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {

    
}







