section{
    padding: var(--fluid-spacing-md) 0;
    
}

section .tile div{
    -webkit-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -moz-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -o-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
}

section div::before{
    -webkit-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -moz-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -o-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
}

section div::after{
    -webkit-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -moz-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    -o-transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
    transition: opacity var(--normal-speed) ease-in-out, transform var(--normal-speed) ease-in-out;
}


section#about .contents{
    padding: 0;
}


/* ------ ABOUT ------ */

section#about .tile::before, section#about .tile::after, section#about .tile .inner::after{
    opacity:0;
} 


/* ------ SKILLSETS ------ */

section#skillset .tile .subhead{
    text-align: left;
}

section#skillset #color-key{
    align-items: center;
    display: flex;
}

section#skillset #color-key .wrapper{
    justify-content: center;
    display: flex;
    width: auto;
}

section#skillset #color-key .subhead{
    margin-bottom: var(--spacing-xs);
    position: relative;
    margin-left: 1.75rem;
}

section#skillset #color-key .subhead:before{
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    position: absolute;
    top:3px;
    left: -1.75rem;
}

section#skillset #color-key .subhead:nth-of-type(1):before{
    background: var(--color-red);
}
section#skillset #color-key .subhead:nth-of-type(2):before{
    background: var(--color-green);
}
section#skillset #color-key .subhead:nth-of-type(3):before{
    background: var(--color-blue);
}

section#skillset .contents img{
    max-width: 4rem;
    margin-right: var(--fluid-spacing-sm);
}

/* ------ PROJECTS ------ */

section#projects .contents .title .summary{
    opacity: 1;
    text-align: left;
    text-shadow: none;
    color: var(--color-dark-grey);
}





/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    section{
        padding: var(--spacing-md) 0;
    }
    
    
    /* ------ ABOUT ------ */
    
    section#about .tile::before, section#about .tile::after, section#about .tile .inner::after{
        opacity:1;

    } 
    
    section#about .inner{
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
    
    section#about .contents{
        padding:var(--spacing-sm);
        padding-right: calc(var(--spacing-sm) + 1rem);
    }
    
    /* ------ SKILLSETS ------ */
    
    section#skillset .contents img{
        max-width: 5.5rem;
        padding: var(--spacing-xs);
    }
    
    section#skillset .tile .subhead{
        text-align: center;
    }
    
    section#skillset .contents img{
        margin-right:0;
        margin-bottom: var(--spacing-sm);
    }
}



/* TABLET */

@media screen and (min-width: 55rem ) {
    
    section{
        padding: var(--spacing-lg) 0;
    }
    
    /* ------ SKILLSETS ------ */
    
    section#skillset #color-key .wrapper{
        width: 100%;
    }
    
    section#skillset #color-key .subhead:nth-of-type(1), section#skillset #color-key .subhead:nth-of-type(2){
        margin-right: calc(1rem + 2vw);
    }
    
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {
    .tile::before{
        opacity:1;

    } 
    
    /* ------ SKILLSETS ------ */
    
    
    section#skillset #color-key .subhead:nth-of-type(1), section#skillset #color-key .subhead:nth-of-type(2){
        margin-right: calc(2rem + 2.5vw);
    }
    
}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {
    
    /* ------ SKILLSETS ------ */
    
    section#skillset .contents img{
        max-width: 6.5rem;
    }
    
    section#skillset .accordion.close > .contents{
        max-height: 1000px;
        overflow: visible;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    
    section#skillset .accordion.close > .contents > div{
        -webkit-animation: fadeInDown var(--fast-speed) var(--easy-ease) both;
	    animation: fadeInDown var(--fast-speed) var(--easy-ease) both;
    }
    
    section#skillset .accordion button.trigger{
        display: none;
    }
    
    section#skillset #color-key .subhead:nth-of-type(1), section#skillset #color-key .subhead:nth-of-type(2){
        margin-right: 6rem;
    }
    
}
