:root {
    
    /* COLORS */
    
    --color-red: rgba(235,150,145,1);
    --color-dark-red: rgba(205,120,115,1);
    --color-darkest-red: rgba(180,105,100,1);
    --color-green: rgba(140,202,139,1);
    --color-dark-green: rgba(109,160,100,1);
    --color-darkest-green: rgba(90,150,95,1);
    --color-blue: rgba(156,211,231,1);
    --color-dark-blue: rgba(85,155,190,1);
    --color-darkest-blue: rgba(75,135,170,1);
    
    --color-black: rgba(38,27,45,1);
    --color-black-15: rgba(38,27,45,0.15);
    --color-charcoal-grey: rgba(58,47,55,1);
    --color-dark-grey: rgba(108,97,115,1);
    --color-grey: rgba(187,189,191,1);
    --color-light-grey: rgba(230,231,232,1);
    --color-snowflake-grey: rgba(253,251,252,1);
    
    /* SPACING */
    
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 5rem;
    --spacing-xxl: 10rem;
    
    --fluid-spacing-xxs: calc(0.25rem + 0.5vw);
    --fluid-spacing-xs: calc(0.5rem + 0.5vw);
    --fluid-spacing-sm: calc(1rem + 0.5vw);
    --fluid-spacing-md: calc(2rem + 0.5vw);
    --fluid-spacing-lg: calc(3rem + 0.5vw);
    --fluid-spacing-xl: calc(5rem + 0.5vw);
    --fluid-spacing-xxl: calc(10rem + 10vw);
    
    --kerning-sm: 0.02rem;
    --kerning-md: 0.04rem;
    --kerning-lg: 0.08rem;
    --kerning-xl: 0.12rem;
    
    /* FONT SIZES */ 
    
    --font-xs: calc(0.7rem + 0.25vw);
    --font-sm: calc(0.8rem + 0.25vw);
    --font-md: calc(0.8rem + 0.5vw);
    --font-lg: calc(1.5rem + 1vw);
    --font-xl: calc(1.75rem + 1.5vw);   
    --font-xxl: calc(2rem + 2vw);  
    
    /* FONT WEIGHTS */ 
    
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;    
    
    /* FONT FAMILIES */ 
    
    --decorative-font: 'Abril Fatface', serif;
    --default-font: 'Quicksand', sans-serif;
    --alt-font: 'Comfortaa', sans-serif;

    /* ANIMATION TIMING */ 
    
    --slow-speed: 0.5s;
    --normal-speed: 0.35s;
    --fast-speed: 0.2s;
    
    --easy-ease: cubic-bezier(0.25,0,0.1,1);
    
    /* VISUAL AESTHETIC */ 
    
    --shadow-subtle: 0 0 5px var(--color-black-15);
    --shadow-element: 0 0 25px var(--color-light-grey);
    --hover-shadow: 0 0 10px var(--color-black-15);
    --hover-shadow-element: 0 0 30px var(--color-black-15); 
    
    /* BORDER RADIUS */
    --border-radius-std: 1rem;
    --border-radius-full: 1000px;
}




/* ------ COLOR CLASSES ------ */


/* BACKGROUND COLOR CLASSES */


.bg-color-red{
    background-color: var(--color-red);
    fill: var(--color-red);
}
.bg-color-red-dark{
    background-color: var(--color-dark-red);
    fill: var(--color-dark-red);
}
.bg-color-green{
    background-color: var(--color-green);
    fill: var(--color-green);
}
.bg-color-dark-green{
    background-color: var(--color-dark-green);
    fill: var(--color-dark-green);
}
.bg-color-blue{
    background-color: var(--color-blue);
    fill: var(--color-blue);
}
.bg-color-dark-blue{
    background-color: var(--color-dark-blue);
    fill: var(--color-dark-blue);
}
.bg-color-black{
    background-color: var(--color-black);
    fill: var(--color-black);
}
.bg-color-charcoal-grey{
    background-color: var(--color-charcoal-grey);
    fill: var(--color-charcoal-grey);
}
.bg-color-grey{
    background-color: var(--color-grey);
    fill: var(--color-grey);
}
.bg-color-light-grey{
    background-color: var(--color-light-grey);
    fill: var(--color-light-grey);
}
.bg-color-snowflake-grey{
    background-color: var(--color-snowflake-grey);
    fill: var(--color-snowflake-grey);
}

.bg-color-white{
    background-color: #fff;
    fill: #fff;
}

/* BACKGROUND GRADIENT CLASSES */

.bg-gradient-full-red{
    background: linear-gradient(90deg, var(--color-red), var(--color-dark-red), var(--color-darkest-red));
}

.bg-gradient-full-green{
    background: linear-gradient(45deg, var(--color-green), var(--color-dark-green));
}

.bg-gradient-full-blue{
    background: linear-gradient(45deg, var(--color-blue), var(--color-dark-blue));
}

.bg-gradient-red-45{
    background: linear-gradient(45deg, var(--color-red), var(--color-dark-red));
}

.bg-gradient-green-45{
    background: linear-gradient(45deg, var(--color-green), var(--color-dark-green));
}

.bg-gradient-blue-45{
    background: linear-gradient(45deg, var(--color-blue), var(--color-dark-blue));
}


/* COLOR CLASSES */

.color-red{
    color: var(--color-red);
}
.color-red-dark{
    color: var(--color-dark-red);
}
.color-green{
    color: var(--color-green);
}
.color-dark-green{
    color: var(--color-dark-green);
}
.color-blue{
    color: var(--color-blue);
}
.color-dark-blue{
    color: var(--color-dark-blue);
}
.color-black{
    color: var(--color-black);
}
.color-charcoal-grey{
    color: var(--color-charcoal-grey);
}
.color-grey{
    color: var(--color-grey);
}
.color-light-grey{
    color: var(--color-light-grey);
}
.color-snowflake-grey{
    color: var(--color-snowflake-grey);
}

/* COLOR CLASSES */

.color-red{
    color: var(--color-red);
}
.color-red-dark{
    color: var(--color-dark-red);
}
.color-green{
    color: var(--color-green);
}
.color-dark-green{
    color: var(--color-dark-green);
}
.color-blue{
    color: var(--color-blue);
}
.color-dark-blue{
    color: var(--color-dark-blue);
}
.color-black{
    color: var(--color-black);
}
.color-charcoal-grey{
    color: var(--color-charcoal-grey);
}
.color-grey{
    color: var(--color-grey);
}
.color-light-grey{
    color: var(--color-light-grey);
}
.color-snowflake-grey{
    color: var(--color-snowflake-grey);
}
.color-white{
    color: white;
}


/* ------ END COLORS ------ */





/* ------ PADDING + MARGIN CLASSES ------ */

.padding-0{
    padding: 0;
}
.padding-xxs{
    padding: var(--spacing-xxs);
}
.padding-xs{
    padding: var(--spacing-xs);
}
.padding-sm{
    padding: var(--spacing-sm);
}
.padding-md{
    padding: var(--spacing-md);
}
.padding-lg{
    padding: var(--spacing-lg);
}
.padding-xl{
    padding: var(--spacing-xl);
}
.padding-xxl{
    padding: var(--spacing-xxl);
}

.padding-vertical-0{
    padding-top: 0;
    padding-bottom: 0;
}
.padding-vertical-xxs{
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xxs);
}
.padding-vertical-xs{
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
}
.padding-vertical-sm{
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

.padding-vertical-md{
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}
.padding-vertical-lg{
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}
.padding-vertical-xl{
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
}
.padding-vertical-xxl{
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
}

.margin-bottom-0{
    margin-bottom:0 !important;
}
.margin-bottom-xxs{
    margin-bottom: var(--spacing-xxs);
}
.margin-bottom-xs{
    margin-bottom: var(--spacing-xs);
}
.margin-bottom-sm{
    margin-bottom: var(--spacing-sm);
}
.margin-bottom-md{
    margin-bottom: var(--spacing-md);
}
.margin-bottom-lg{
    margin-bottom: var(--spacing-lg);
}
.margin-bottom-xl{
    margin-bottom: var(--spacing-xl);
}
.margin-bottom-xxl{
    margin-bottom: var(--spacing-xxl);
}

/* ------ END PADDING + MARGIN CLASSES ------ */




/* ------ GRID + ALIGNMENT ------ */

.vert-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hide{
    display:none;
}
.block{
    display: block;  
}
.inline{
    display: inline;  
}
.flex{
    display: flex;  
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}


/* ------ FLEXBOX ------ */

.flex-row{
    flex-direction: row;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.flex-column-reverse{
    flex-direction: column-reverse;
}


/* ------ IMAGE TREATMENT ------ */

.round{
    border-radius: 100%;
    overflow: hidden;
}

.round img{
    transform:scale(1.1);
}

/* ------ TYPOGRAPHY ------ */

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.font-size-xs{
    font-size: var(--font-xs)
}
.font-size-sm{
    font-size: var(--font-sm)
}
.font-size-md{
    font-size: var(--font-md)
}
.font-size-lg{
    font-size: var(--font-lg)
}
.font-size-xl{
    font-size: var(--font-xl)
}




/* ------ MEDIA QUERIES ------ */


/* MOBILE PLUS */

@media screen and (min-width: 35rem ) {
    
    .sm_hide{
        display:none !important;
    }
    .sm_block{
        display: block;  
    }
    .sm_inline{
        display: inline;  
    }
    .sm_flex{
        display: flex;  
    }
    .sm_absolute{
        position: absolute;
    }

    .sm_relative{
        position: relative;
    }
    
    /* ------ PADDING + MARGIN CLASSES ------ */

    .sm_padding-0{
        padding: 0;
    }
    .sm_padding-xxs{
        padding: var(--spacing-xxs);
    }
    .sm_padding-xs{
        padding: var(--spacing-xs);
    }
    .sm_padding-sm{
        padding: var(--spacing-sm);
    }
    .sm_padding-md{
        padding: var(--spacing-md);
    }
    .sm_padding-lg{
        padding: var(--spacing-lg);
    }
    .sm_padding-xl{
        padding: var(--spacing-xl);
    }
    .sm_padding-xxl{
        padding: var(--spacing-xxl);
    }

    .sm_padding-vertical-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .sm_padding-vertical-xxs{
        padding-top: var(--spacing-xxs);
        padding-bottom: var(--spacing-xxs);
    }
    .sm_padding-vertical-xs{
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }
    .sm_padding-vertical-sm{
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
    .sm_padding-vertical-md{
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
    .sm_padding-vertical-lg{
        padding-top: var(--spacing-lg);
        padding-bottom: var(--spacing-lg);
    }
    .sm_padding-vertical-xl{
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }
    .sm_padding-vertical-xxl{
        padding-top: var(--spacing-xxl);
        padding-bottom: var(--spacing-xxl);
    }

    .sm_margin-bottom-0{
        margin-bottom:0 !important;
    }
    .sm_margin-bottom-xxs{
        margin-bottom: var(--spacing-xxs);
    }
    .sm_margin-bottom-xs{
        margin-bottom: var(--spacing-xs);
    }
    .sm_margin-bottom-sm{
        margin-bottom: var(--spacing-sm);
    }
    .sm_margin-bottom-md{
        margin-bottom: var(--spacing-md);
    }
    .sm_margin-bottom-lg{
        margin-bottom: var(--spacing-lg);
    }
    .sm_margin-bottom-xl{
        margin-bottom: var(--spacing-xl);
    }
    .sm_margin-bottom-xxl{
        margin-bottom: var(--spacing-xxl);
    }
    
    /* ------ TYPOGRAPHY ------ */

    .sm_text-align-center{
        text-align: center;
    }
    
    .sm_text-align-left{
        text-align: left;
    }

    .sm_text-align-right{
        text-align: right;
    }
    
    /* ------ FLEXBOX ------ */

    .sm_flex-row{
        flex-direction: row;
    }

    .sm_flex-row-reverse{
        flex-direction: row-reverse;
    }

    .sm_flex-column{
        flex-direction: column;
    }

    .sm_flex-column-reverse{
        flex-direction: column-reverse;
    }

    
}


/* TABLET */

@media screen and (min-width: 55rem ) {
    
    .md_hide{
        display:none;
    }
    .md_block{
        display: block;  
    }
    .md_inline{
        display: inline;  
    }
    .md_flex{
        display: flex;  
    }
    .md_absolute{
        position: absolute;
    }

    .md_relative{
        position: relative;
    }
    
    /* ------ PADDING + MARGIN CLASSES ------ */

    .md_padding-0{
        padding: 0;
    }
    .md_padding-xxs{
        padding: var(--spacing-xxs);
    }
    .md_padding-xs{
        padding: var(--spacing-xs);
    }
    .md_padding-sm{
        padding: var(--spacing-sm);
    }
    .md_padding-md{
        padding: var(--spacing-md);
    }
    .md_padding-lg{
        padding: var(--spacing-lg);
    }
    .md_padding-xl{
        padding: var(--spacing-xl);
    }
    .md_padding-xxl{
        padding: var(--spacing-xxl);
    }

    .md_padding-vertical-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .md_padding-vertical-xxs{
        padding-top: var(--spacing-xxs);
        padding-bottom: var(--spacing-xxs);
    }
    .md_padding-vertical-xs{
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }
    .md_padding-vertical-sm{
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
    .md_padding-vertical-md{
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
    .md_padding-vertical-lg{
        padding-top: var(--spacing-lg);
        padding-bottom: var(--spacing-lg);
    }
    .md_padding-vertical-xl{
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }
    .md_padding-vertical-xxl{
        padding-top: var(--spacing-xxl);
        padding-bottom: var(--spacing-xxl);
    }

    .md_margin-bottom-0{
        margin-bottom:0 !important;
    }
    .md_margin-bottom-xxs{
        margin-bottom: var(--spacing-xxs);
    }
    .md_margin-bottom-xs{
        margin-bottom: var(--spacing-xs);
    }
    .md_margin-bottom-sm{
        margin-bottom: var(--spacing-sm);
    }
    .md_margin-bottom-md{
        margin-bottom: var(--spacing-md);
    }
    .md_margin-bottom-lg{
        margin-bottom: var(--spacing-lg);
    }
    .md_margin-bottom-xl{
        margin-bottom: var(--spacing-xl);
    }
    .md_margin-bottom-xxl{
        margin-bottom: var(--spacing-xxl);
    }
    
    /* ------ TYPOGRAPHY ------ */

    .md_text-align-center{
        text-align: center;
    }
    
    .md_text-align-left{
        text-align: left;
    }

    .md_text-align-right{
        text-align: right;
    }
    
    /* ------ FLEXBOX ------ */

    .md_flex-row{
        flex-direction: row;
    }

    .md_flex-row-reverse{
        flex-direction: row-reverse;
    }

    .md_flex-column{
        flex-direction: column;
    }

    .md_flex-column-reverse{
        flex-direction: column-reverse;
    }
    
}



/* DESKOP */

@media screen and (min-width: 70rem ) {
    
    .lg_hide{
        display:none;
    }
    .lg_block{
        display: block;  
    }
    .lg_inline{
        display: inline;  
    }
    .lg_flex{
        display: flex;  
    }
    .lg_absolute{
        position: absolute;
    }
    .lg_relative{
        position: relative;
    }
    
    /* ------ PADDING + MARGIN CLASSES ------ */

    .lg_padding-0{
        padding: 0;
    }
    .lg_padding-xxs{
        padding: var(--spacing-xxs);
    }
    .lg_padding-xs{
        padding: var(--spacing-xs);
    }
    .lg_padding-sm{
        padding: var(--spacing-sm);
    }
    .lg_padding-md{
        padding: var(--spacing-md);
    }
    .lg_padding-lg{
        padding: var(--spacing-lg);
    }
    .lg_padding-xl{
        padding: var(--spacing-xl);
    }
    .lg_padding-xxl{
        padding: var(--spacing-xxl);
    }

    .lg_padding-vertical-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .lg_padding-vertical-xxs{
        padding-top: var(--spacing-xxs);
        padding-bottom: var(--spacing-xxs);
    }
    .lg_padding-vertical-xs{
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }
    .lg_padding-vertical-sm{
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
    .lg_padding-vertical-md{
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
    .lg_padding-vertical-lg{
        padding-top: var(--spacing-lg);
        padding-bottom: var(--spacing-lg);
    }
    .lg_padding-vertical-xl{
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }
    .lg_padding-vertical-xxl{
        padding-top: var(--spacing-xxl);
        padding-bottom: var(--spacing-xxl);
    }

    .lg_margin-bottom-0{
        margin-bottom:0 !important;
    }
    .lg_margin-bottom-xxs{
        margin-bottom: var(--spacing-xxs);
    }
    .lg_margin-bottom-xs{
        margin-bottom: var(--spacing-xs);
    }
    .lg_margin-bottom-sm{
        margin-bottom: var(--spacing-sm);
    }
    .lg_margin-bottom-md{
        margin-bottom: var(--spacing-md);
    }
    .lg_margin-bottom-lg{
        margin-bottom: var(--spacing-lg);
    }
    .lg_margin-bottom-xl{
        margin-bottom: var(--spacing-xl);
    }
    .lg_margin-bottom-xxl{
        margin-bottom: var(--spacing-xxl);
    }
    
    /* ------ TYPOGRAPHY ------ */

    .lg_text-align-center{
        text-align: center;
    }
    
    .lg_text-align-left{
        text-align: left;
    }

    .lg_text-align-right{
        text-align: right;
    }
    
    
    /* ------ FLEXBOX ------ */

    .lg_flex-row{
        flex-direction: row;
    }

    .lg_flex-row-reverse{
        flex-direction: row-reverse;
    }

    .lg_flex-column{
        flex-direction: column;
    }

    .lg_flex-column-reverse{
        flex-direction: column-reverse;
    }
    
}



/* DESKTOP PLUS */

@media screen and (min-width: 90rem ) {
    
    .xl_hide{
        display:none;
    }
    .xl_block{
        display: block;  
    }
    .xl_inline{
        display: inline;  
    }
    .xl_flex{
        display: flex;  
    }
    .xl_absolute{
        position: absolute;
    }
    .xl_relative{
        position: relative;
    }
    
    /* ------ PADDING + MARGIN CLASSES ------ */

    .xl_padding-0{
        padding: 0;
    }
    .xl_padding-xxs{
        padding: var(--spacing-xxs);
    }
    .xl_padding-xs{
        padding: var(--spacing-xs);
    }
    .xl_padding-sm{
        padding: var(--spacing-sm);
    }
    .xl_padding-md{
        padding: var(--spacing-md);
    }
    .xl_padding-lg{
        padding: var(--spacing-lg);
    }
    .xl_padding-xl{
        padding: var(--spacing-xl);
    }
    .xl_padding-xxl{
        padding: var(--spacing-xxl);
    }

    .xl_padding-vertical-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .xl_padding-vertical-xxs{
        padding-top: var(--spacing-xxs);
        padding-bottom: var(--spacing-xxs);
    }
    .xl_padding-vertical-xs{
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }
    .xl_padding-vertical-sm{
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }
    .xl_padding-vertical-md{
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
    .xl_padding-vertical-lg{
        padding-top: var(--spacing-lg);
        padding-bottom: var(--spacing-lg);
    }
    .xl_padding-vertical-xl{
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }
    .xl_padding-vertical-xxl{
        padding-top: var(--spacing-xxl);
        padding-bottom: var(--spacing-xxl);
    }

    .xl_margin-bottom-0{
        margin-bottom:0 !important;
    }
    .xl_margin-bottom-xxs{
        margin-bottom: var(--spacing-xxs);
    }
    .xl_margin-bottom-xs{
        margin-bottom: var(--spacing-xs);
    }
    .xl_margin-bottom-sm{
        margin-bottom: var(--spacing-sm);
    }
    .xl_margin-bottom-md{
        margin-bottom: var(--spacing-md);
    }
    .xl_margin-bottom-lg{
        margin-bottom: var(--spacing-lg);
    }
    .xl_margin-bottom-xl{
        margin-bottom: var(--spacing-xl);
    }
    .xl_margin-bottom-xxl{
        margin-bottom: var(--spacing-xxl);
    }
    
    /* ------ TYPOGRAPHY ------ */

    xl_.text-align-center{
        text-align: center;
    }
    
    xl_.text-align-left{
        text-align: left;
    }

    xl_.text-align-right{
        text-align: right;
    }
    
    /* ------ FLEXBOX ------ */

    .xl_flex-row{
        flex-direction: row;
    }

    .xl_flex-row-reverse{
        flex-direction: row-reverse;
    }

    .xl_flex-column{
        flex-direction: column;
    }

    .xl_flex-column-reverse{
        flex-direction: column-reverse;
    }
    
}